/*---------------------------------------------------------------------------------
    In dit CSS-bestand vindt je de stijl voor de 404 pagina
----------------------------------------------------------------------------------*/

/* Hier kunt u alle stylesheets importeren */
@import 'main.css';
@import 'header.css';
@import 'footer.css';
@import 'animaties.css';


body {
    background: var(--timberwolf);
    /* font-family: 'Georgia', Times, serif; */
    font-family: 'Verdana', Helvetica, sans-serif;
}

.bericht {
    position: absolute;
    max-width: 490px;
    text-align: center;
    top: 18rem;
    left: 44rem;
    z-index: 1;
}

.bericht p {
    margin-top: 32px;
}

p.reload {
    color: #fff;
    position: absolute;
    top: 0;bottom: 0;right: 0;left: 0;
    /* margin: auto; */
    height: 20px;
    width: 100%;
    z-index: 2;
    text-align:center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 6rem;
    text-shadow: 4px 4px 0 rgba(0,0,0,0.3);
    transform-origin: center center;
    transform: scale(0);-webkit-transform: scale(0);
    animation: animateA 1 0.2s cubic-bezier(0.64, 0.57, 0.67, 1.53) forwards 1.4s;
}

@keyframes animateA {
    0%{transform: scale(0);-webkit-transform: scale(0);}
    100%{transform: scale(1);-webkit-transform: scale(1);}
}

#contact-illu {
    position: absolute;
    width: 1600px;
    top: 0%;
    left: 0%;
    right: 0;
}

.st0{fill:#FA3838;}
.st1{fill:#DB3333;}
.st2{fill:#F2F2F2;}
.st3{fill:#EAEAEA;}
.st4{fill:#424242;}
.st5{fill:rgba(19,19,19,0.2);}

#contact-illu .gdot {
  transform: scale(0);
  -webkit-transform: scale(0);
}

#contact-illu .gdot{
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  transform-origin: center center;
  -webkit-transform-origin: center center;
}


@keyframes animatetheDots {
  0%{
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
  }
  20%,60%{
    opacity: 1;
  }
  100%{
    transform: scale(2);
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    opacity: 0;
  }
}

@keyframes animateGun {
  0%{
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
  }
  100%{
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
  }
}

#contact-illu #gun {
  animation: 1 animateGun 0.6s ease-out forwards;
  -webkit-animation: 1 animateGun 0.6s ease-out forwards;
  -moz-animation: 1 animateGun 0.6s ease-out forwards;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
}

@keyframes animateBar {
  0%{
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
  }
  100%{
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
  }
}

#contact-illu #bar {
  transform-origin: left;
  transform: scaleX(0);
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  animation: 1 animateBar 0.4s cubic-bezier(0.64, 0.57, 0.67, 1.53) forwards 0.6s;
  -webkit-animation: 1 animateBar 0.4s cubic-bezier(0.64, 0.57, 0.67, 1.53) forwards 0.6s;
  -moz-animation: 1 animateBar 0.4s cubic-bezier(0.64, 0.57, 0.67, 1.53) forwards 0.6s;
}


@keyframes animateZone {
  0%{
    transform: scaleY(0);
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
  }
  100%{
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
  }
}

#contact-illu #zone {
  transform-origin: top;
  transform: scaleY(0);
  -webkit-transform: scaleY(0);
  -moz-transform: scaleY(0);
  animation: 1 animateZone 0.4s cubic-bezier(0.64, 0.57, 0.67, 1.53) forwards 1s;
  -webkit-animation: 1 animateZone 0.4s cubic-bezier(0.64, 0.57, 0.67, 1.53) forwards 1s;
  -moz-animation: 1 animateZone 0.4s cubic-bezier(0.64, 0.57, 0.67, 1.53) forwards 1s;
}

@keyframes animateShadow {
  0%{
    transform: scaleY(0);
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
  }
  100%{
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
  }
}

#contact-illu #bar-shadow {
  transform-origin: top;
  transform: scaleY(0);
  -webkit-transform: scaleY(0);
  -moz-transform: scaleY(0);
  animation: 1 animateShadow 0.1s ease-out forwards 0.9s;
  -webkit-animation: 1 animateShadow 0.1s ease-out forwards 0.9s;
  -moz-animation: 1 animateShadow 0.1s ease-out forwards 0.9s;
}

@keyframes animateBack {
  0%{
    transform: scaleY(0);
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
  }
  100%{
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
  }
}

#contact-illu #back {
  transform-origin: bottom;
  transform: scaleY(0);
  -webkit-transform: scaleY(0);
  -moz-transform: scaleY(0);
  animation: 1 animateBack 0.2s cubic-bezier(0.64, 0.57, 0.67, 1.53) forwards 1.3s;
  -webkit-animation: 1 animateBack 0.2s cubic-bezier(0.64, 0.57, 0.67, 1.53) forwards 1.3s;
  -moz-animation: 1 animateBack 0.2s cubic-bezier(0.64, 0.57, 0.67, 1.53) forwards 1.3s;
}