/*--------------------------------------------------
    De animaties binnen de website
---------------------------------------------------*/
/* Deze regel zorgt ervoor dat mensen die niet tegen animaties kunnen en dit uit hebben staan ook geen animaties te zien krijgen. Mensen die dit niet hebben ingesteld krijgen de animaties wel te zien! */
@media (prefers-reduced-motion: no-preference) {

    /* animatie voorop de tekst stukken */
    .hiddenN {
        opacity: 0;
        transform: translateY(30%);
        -webkit-transform: translateY(30%);
        -moz-transform: translateY(30%);

        transition: transform 1000ms ease-out;
        -webkit-transition: transform 1000ms ease-out;
        -moz-transition: transform 1000ms ease-out;
    }

    .showN {
        opacity: 1;
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
    }

    /* animatie voorop de afbeeldingen */
    .hiddenIMG {
        opacity: 0;
        scale: .9;
        transform: translateY(20%);
        -webkit-transform: translateY(20%);
        -moz-transform: translateY(20%);

        transition: all 1000ms ease-in;
        -webkit-transition: all 1000ms ease-in;
        -moz-transition: all 1000ms ease-in;
    }

    .showIMG {
        opacity: 1;
        scale: 1;
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
    }

    /* animatie voorop de section divider die van links komt */
    .hiddenSL {
        opacity: 0;
        filter: blur(5px);
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);

        transition: all 2000ms 1ms ease-in-out;
        -webkit-transition: all 2000ms 1ms ease-in-out;
        -moz-transition: all 2000ms 1ms ease-in-out;
    }

    .showSL {
        opacity: 1;
        filter: blur(0);
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
    }

    /* animatie voorop de section divider die van rechts komt */
    .hiddenSR {
        opacity: 0;
        filter: blur(5px);
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);

        transition: all 2000ms 1ms ease-in-out;
        -webkit-transition: all 2000ms 1ms ease-in-out;
        -moz-transition: all 2000ms 1ms ease-in-out;
    }

    .showSR {
        opacity: 1;
        filter: blur(0);
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
    }

    /* animatie voorop de promo tekst */
    .hiddenPT {
        opacity: 0;

        transition: all 1000ms 2s ease-in;
        -webkit-transition: all 1000ms 2s ease-in;
        -moz-transition: all 1000ms 2s ease-in;
    }

    .showPT {
        opacity: 1;
    }

    /* animatie voorop de promo stukjes */
    .hiddenSP {
        width: 100px !important;
        height: 100px !important;
        border-radius: 50% !important;

        transition: all 2000ms ease-in-out;
        -webkit-transition: all 2000ms ease-in-out;
        -moz-transition: all 2000ms ease-in-out;
    }

    .showSP {
        opacity: 1;
        width: 98% !important;
        height: 288px !important;
        border-radius: 0px 144px 144px 0px !important;
        left: 0;
    }

    /* Extra breakpoint versies voor de promo achtergrond animatie */
    @media (min-width: 340px) {
        .sectionDividerPromo {
            height: 248px !important;
            border-radius: 0px 124px 124px 0px !important;
        }
    }

    @media (min-width: 360px) {
        .hiddenSP {
            width: 100px !important;
        }

        .showSP {
            width: 95% !important;
        }
    }

    @media (min-width: 380px) {
        .hiddenSP {
            width: 100px !important;
        }

        .showSP {
            width: 90% !important;
        }
    } 

    @media (min-width: 480px) {
        .hiddenSP {
            height: 100px !important;
            border-radius: 50% !important;
        }

        .showSP {
            height: 284px !important;
            border-radius: 0px 142px 142px 0px !important;
        }
    }

    @media (min-width: 768px) {
        .hiddenSP {
            height: 100px !important;
            border-radius: 50% !important;
        }

        .showSP {
            height: 338px !important;
            border-radius: 169px 169px 169px 169px !important;
            left: auto;
            margin-left: auto;
            margin-right: auto;
        }
    } 

    @media (min-width: 1024px) {
        .hiddenSP {
            height: 100px !important;
            border-radius: 50% !important;
        }

        .showSP {
            height: 392px !important;
            border-radius: 196px 196px 196px 196px !important;
        }
    }

    @media (min-width: 1280px) {
        .hiddenSP {
            height: 100px !important;
            border-radius: 50% !important;
        }

        .showSP {
            height: 456px !important;
            border-radius: 228px 228px 228px 228px !important;
        }
    }

    @media (min-width: 1600px) {
        .hiddenSP {
            height: 100px !important;
            border-radius: 50% !important;
        }

        .showSP {
            max-width: 1280px !important;
            height: 520px !important;
            border-radius: 260px 260px 260px 260px !important;
        }
    }

    @media (min-width: 1920px) {
        .showSP {
            max-width: 1408px !important;
        }
    }
}