/*---------------------------------------------------------------------------------
    In dit CSS-bestand vindt je de stijl voor de Contact pagina
----------------------------------------------------------------------------------*/

/* Hier kunt u alle stylesheets importeren */
@import 'main.css';
@import 'header.css';
@import 'subNav.css';
@import 'footer.css';
@import 'animaties.css';

/* Het vlak voor de hoofd content wordt hier bewerkt */
main {
    overflow: hidden;
}


/*--------------------------------------------------
    CSS voor de contactinformatie
---------------------------------------------------*/
.openingstijden p, .adres p, .gegevens p {
    margin-bottom: 8px;
}

.openingstijden p:last-child, .adres p:last-child, .gegevens p:last-child {
    margin-bottom: 0px;
}

/* Het grid instellen voor de drie kopjes die horen bij de contactinformatie */
.contactinformatie {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 24px;
    grid-auto-rows: auto auto;
    grid-auto-columns: auto auto;
    margin-left: auto;
    margin-right: auto;
}

/* Het grid toepassen op de drie kopjes die horen bij de contactinformatie */
.openingstijden, .adres, .gegevens {
    grid-column: 1 / span 4;
}


/*--------------------------------------------------
    CSS voor de iframe
---------------------------------------------------*/
iframe {
    height: 248px;
    /* Dit zorgt ervoor dat de Google Maps de voledige schermbreete aanneemt */
    --child-width: 100vw;
    margin-left: calc(-.5 * var(--child-width) + 50%);
    width: var(--child-width);
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.48), inset 0px -2px 16px 0px rgba(0,0,0,0.48);
    -webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.48), inset 0px -2px 16px 0px rgba(0,0,0,0.48);
    -moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.48), inset 0px -2px 16px 0px rgba(0,0,0,0.48);
}


/*-------------------------------------------------------
    CSS voor alles wat hoort bij het contactformulier
--------------------------------------------------------*/

.formRequired {
    margin-top: 32px;
    margin-bottom: 8px;
}

.formButtons {
    --child-width: 100vw;
    margin-left: calc(-.5 * var(--child-width) + 50%);
    width: var(--child-width);
    position: relative;
    z-index: -1;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
}

.formButtons div {
    background-color: #FFF;
}

.algemeen, .introductie {
    width: 50%;
    height: 40px;
    border: 1px solid var(--timberwolf);
    border-radius: 12px 12px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.algemeen p, .introductie p {
    font-size: medium;
    color: #000;
}

/* CSS om de active button vorm te geven */
.activeFormBtn {
    background-color: var(--timberwolf) !important;
    border: none;
}

/* CSS om de cursor voor niet-actieve knoppen te wijzigen */
.formButtons div {
    cursor: url(../svg/Target_aim1.svg) 12 12, pointer;
}

.formButtons .activeFormBtn {
    cursor: default;
}

/* Code om de formulieren te verbergen en weer te geven */
#algemeenFormContainer, #introductieFormContainer {
    display: none;
}

#algemeenFormContainer.active, #introductieFormContainer.active {
    display: block;
}

div.formulier {
    background-color: var(--timberwolf);
    /* Dit zorgt ervoor dat de achtergrond de voledige schermbreete aanneemt */
    --child-width: 100vw;
    margin-left: calc(-.5 * var(--child-width) + 50%);
    width: var(--child-width);
    /* box-shadow: -1px 0px 12px 0px rgb(0 0 0 / 35%);
    -webkit-box-shadow: -1px 0px 12px 0px rgb(0 0 0 / 35%);
    -moz-box-shadow: -1px 0px 12px 0px rgb(0 0 0 / 35%); */
}

form {
    margin-left: 16px;
    margin-right: 16px;
    padding-bottom: 56px;
    padding-top: 8px;
}

fieldset {
    border: none;
    margin-bottom: 20px;
    width: auto;
}

#algemeenForm fieldset {
    margin-bottom: 0px;
}

fieldset.bericht {
    margin-bottom: 0px !important;
}

label {
    display: block;
    margin-top: 18px;
    margin-bottom: 4px;
}
  
input[type="text"],
input[type="date"],
input[type="email"],
input[type="tel"] {
    width: 100%;
    height: 40px;
    padding: 8px;
    border: none;
    border-bottom: 1.5px solid #000;
    border-radius: 0px;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    height: auto;
    padding: 8px;
    border: none;
    border-bottom: 1.5px solid #000;
    border-radius: 0px;
    box-sizing: border-box;
}

input#telefoonnummer {
    width: 60%;
}

.flex-container, .adresgegevens {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px; /* Voor wat ruimte tussen de velden */
}

.flex-item {
    flex: 1 1 100%; /* Neemt 100% breedte op mobiel */
    min-width: 60%;
}

.flex-item.small {
    flex: 1 1 40%;
    min-width: 30%;
    max-width: 40%;
}

input:hover, textarea:hover {
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.5);
}

input:focus-visible, textarea:focus-visible {
    outline: var(--primary) auto 1px;
}

input.error-border,
textarea.error-border {
    border-bottom: 2.5px solid var(--warning);
}

input.valid-border,
textarea.valid-border {
    border-bottom: 2.5px solid var(--sucsess);
}

.error {
    color: var(--warning);
    font-family: 'Verdana', Helvetica, sans-serif;
    font-size: 10px;
    margin-top: 4px;
}

button[type="submit"] {
    background-color: var(--timberwolf);
    color: var(--timberwolf);
    border: none;
}

.nationaliteitField {
    position: relative;
}

.nationaliteitFieldNew {
    position: relative;
    margin-top: 8px;
}

.nationaliteitField button, .nationaliteitFieldNew button {
    position: absolute;
    background: none;
    color: #000;
    border: none;
    font-size: 32px;
    top: 1px;
    right: 10px;
    cursor: url(../svg/Target_aim1.svg) 12 12, pointer;
}


/*--------------------------------------------------
    De breekpunten
---------------------------------------------------*/

/* Tussenversie van mobiel en tablet (480px) */
@media (min-width: 480px) {
    div.main {
        padding-left: 20px;
        padding-right: 20px;
    }

    /* De contactinformatie */
    .contactinformatie {
        row-gap: 28px;
    }
    /*----------------------------------------*/

    iframe {
        height: 284px;
    }
    /*----------------------------------------*/

    /* Alles wat hoort bij het contactformulier */
    form {
        margin-left: 22px;
        margin-right: 22px;
        padding-bottom: 68px;
    }

    input[type="text"],
    input[type="date"],
    input[type="email"],
    input[type="tel"] {
        height: 44px;
    }

    .nationaliteitField button, .nationaliteitFieldNew button {
        font-size: 34px;
        top: 2px;
    }
}

/* Extra tussenversie van mobiel en tablet (510px) */
@media (min-width: 510px) {
    .openingstijden, .adres, .gegevens, .formTitel, .formInfo {
        text-align: center;
    }
}

@media (min-width: 620px) {
    .formButtons, .formulier {
        max-width: 620px;
        --child-width: auto !important;
        margin-left: auto !important;
        margin-right: auto;
    }

    div.topArrowB {
        background: none;
        box-shadow: none;
        margin-top: 68px;
    }
}

/* Tablet-versie (768px) */
@media (min-width: 768px) {
    /* De contactinformatie */
    .contactinformatie {
        grid-template-columns: repeat(8, 1fr);
        row-gap: 34px;
    }

    .openingstijden, .adres, .gegevens {
        grid-column: 2 / span 6;
    }
    /*----------------------------------------*/

    iframe {
        height: 238px;
    }
    /*----------------------------------------*/

    /* Alles wat hoort bij het contactformulier */
    .formInfo {
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
    }

    form {
        margin-left: 36px;
        margin-right: 36px;
        padding-bottom: 88px;
    }

    input[type="text"],
    input[type="date"],
    input[type="email"],
    input[type="tel"] {
        height: 48px;
    }

    div.topArrowB {
        margin-top: 88px;
    }
}

/* Laptop-versie (1024px) */
@media (min-width: 1024px) {
    /* De contactinformatie */
    .contactinformatie {
        grid-template-columns: repeat(12, 1fr);
        column-gap: 24px;
    }

    .openingstijden {
        grid-column: 1 / span 4;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .adres {
        grid-column: 5 / span 4;
    } 

    .gegevens {
        grid-column: 9 / span 4;
    }
    /*----------------------------------------*/

    iframe {
        height: 392px;
    }
    /*----------------------------------------*/

    /* Alles wat hoort bij het contactformulier */
    .formInfo {
        max-width: 750px;
    }

    form {
        margin-left: 56px;
        margin-right: 56px;
        padding-bottom: 104px;
    }

    input[type="text"],
    input[type="date"],
    input[type="email"],
    input[type="tel"] {
        height: 52px;
    }

    div.topArrowB {
        margin-top: 104px;
    }
}

/* Grotere laptopversie (1280px) */
@media (min-width: 1280PX) {
    /* De contactinformatie */
    .contactinformatie {
        column-gap: 40px;
    }
    /*----------------------------------------*/

    iframe {
        height: 456px;
    }
    /*----------------------------------------*/
    
    /* Alles wat hoort bij het contactformulier */
    .formInfo {
        max-width: 800px;
    }

    form {
        margin-left: 120px;
        margin-right: 120px;
        padding-bottom: 120px;
    }

    input[type="text"],
    input[type="date"],
    input[type="email"],
    input[type="tel"] {
        height: 56px;
    }

    div.topArrowB {
        margin-top: 120px;
    }
}

/* Tussenversie van laptop en desktop (1600px) */
@media (min-width: 1600PX) {
    /* De contactinformatie */
    .contactinformatie {
        max-width: 1280px;
        column-gap: 48px;
    }
    /*----------------------------------------*/

    iframe {
        height: 520px;
    }
    /*----------------------------------------*/

    /* Alles wat hoort bij het contactformulier */
    form {
        margin-left: 200px;
        margin-right: 200px;
        padding-bottom: 136px;
    }

    div.topArrowB {
        margin-top: 136px;
    }
}

/* Desktop versie (1920px) */
@media (min-width: 1920PX) {
    /* De contactinformatie */
    .contactinformatie {
        column-gap: 56px;
        max-width: 1408px;
    }
    /*----------------------------------------*/

    /* Alles wat hoort bij het contactformulier */
    form {
        margin-left: 256px;
        margin-right: 256px;
        padding-bottom: 144px;
    }

    div.topArrowB {
        margin-top: 144px;
    }
}