/*---------------------------------------------------------------------------------
    In dit CSS-bestand vindt je de stijl voor de Contact pagina
----------------------------------------------------------------------------------*/

/* Hier kunt u alle stylesheets importeren */
@import 'main.css';
@import 'header.css';
@import 'subNav.css';
@import 'footer.css';
@import 'animaties.css';

/* Het vlak voor de hoofd content wordt hier bewerkt */
main {
    overflow: hidden;
}


/*--------------------------------------------------
    CSS voor de contactinformatie
---------------------------------------------------*/
.openingstijden p, .adres p, .gegevens p {
    margin-bottom: 8px;
}

.openingstijden p:last-child, .adres p:last-child, .gegevens p:last-child {
    margin-bottom: 0px;
}

/* Het grid instellen voor de drie kopjes die horen bij de contactinformatie */
.contactinformatie {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 24px;
    grid-auto-rows: auto auto;
    grid-auto-columns: auto auto;
    margin-left: auto;
    margin-right: auto;
}

/* Het grid toepassen op de drie kopjes die horen bij de contactinformatie */
.openingstijden, .adres, .gegevens {
    grid-column: 1 / span 4;
}


/*--------------------------------------------------
    CSS voor de iframe
---------------------------------------------------*/
iframe {
    height: 248px;
    /* Dit zorgt ervoor dat de Google Maps de voledige schermbreete aanneemt */
    --child-width: 100vw;
    margin-left: calc(-.5 * var(--child-width) + 50%);
    width: var(--child-width);
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.48), inset 0px -2px 16px 0px rgba(0,0,0,0.48);
    -webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.48), inset 0px -2px 16px 0px rgba(0,0,0,0.48);
    -moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.48), inset 0px -2px 16px 0px rgba(0,0,0,0.48);
}


/*-------------------------------------------------------
    CSS voor alles wat hoort bij het contactformulier
--------------------------------------------------------*/

.formRequired {
    margin-top: 32px;
}


/*--------------------------------------------------
    De breekpunten
---------------------------------------------------*/

/* Tussenversie van mobiel en tablet (480px) */
@media (min-width: 480px) {
    div.main {
        padding-left: 20px;
        padding-right: 20px;
    }

    /* De contactinformatie */
    .contactinformatie {
        row-gap: 28px;
    }
    /*----------------------------------------*/

    iframe {
        height: 284px;
    }
    /*----------------------------------------*/

    /* Alles wat hoort bij het contactformulier */

}

/* Extra tussenversie van mobiel en tablet (510px) */
@media (min-width: 510px) {
    .openingstijden, .adres, .gegevens, .contactformulier {
        text-align: center;
    }
}

/* Tablet-versie (768px) */
@media (min-width: 768px) {
    /* De contactinformatie */
    .contactinformatie {
        grid-template-columns: repeat(8, 1fr);
        row-gap: 34px;
    }

    .openingstijden, .adres, .gegevens {
        grid-column: 2 / span 6;
    }
    /*----------------------------------------*/

    iframe {
        height: 238px;
    }
    /*----------------------------------------*/

    /* Alles wat hoort bij het contactformulier */
    .formInfo {
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Laptop-versie (1024px) */
@media (min-width: 1024px) {
    /* De contactinformatie */
    .contactinformatie {
        grid-template-columns: repeat(12, 1fr);
        column-gap: 24px;
    }

    .openingstijden {
        grid-column: 1 / span 4;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .adres {
        grid-column: 5 / span 4;
    } 

    .gegevens {
        grid-column: 9 / span 4;
    }
    /*----------------------------------------*/

    iframe {
        height: 392px;
    }
    /*----------------------------------------*/

    /* Alles wat hoort bij het contactformulier */
    .formInfo {
        max-width: 750px;
    }
}

/* Grotere laptopversie (1280px) */
@media (min-width: 1280PX) {
    /* De contactinformatie */
    .contactinformatie {
        column-gap: 40px;
    }
    /*----------------------------------------*/

    iframe {
        height: 456px;
    }
    /*----------------------------------------*/
    
    /* Alles wat hoort bij het contactformulier */
    .formInfo {
        max-width: 800px;
    }
}

/* Tussenversie van laptop en desktop (1600px) */
@media (min-width: 1600PX) {
    /* De contactinformatie */
    .contactinformatie {
        max-width: 1280px;
        column-gap: 48px;
    }
    /*----------------------------------------*/

    iframe {
        height: 520px;
    }
    /*----------------------------------------*/

    /* Alles wat hoort bij het contactformulier */
    
}

/* Desktop versie (1920px) */
@media (min-width: 1920PX) {
    /* De contactinformatie */
    .contactinformatie {
        column-gap: 56px;
        max-width: 1408px;
    }
    /*----------------------------------------*/

    /* Alles wat hoort bij het contactformulier */
    
}