/*---------------------------------------------------------------------------------------
    In dit CSS-bestand vindt je de stijl voor de footer die voor elke pagina nodig is
----------------------------------------------------------------------------------------*/
div.topArrow {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    z-index: 1;
    transition: 1s ease-in-out;
}

div.topArrowB {
    background-color: var(--timberwolf);
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    z-index: 1;
    transition: 1s ease-in-out;
    box-shadow: 0px -20px 20px 10px rgba(209,213,208,2);
}

div.topArrowB span.keepL, div.topArrowB a.topArrow, div.topArrowB span.keepR {
    box-shadow: 0px -2px 16px 0px rgba(0,0,0,0.48);
}

span.keepL {
    display: block;
    height: 40px; 
    width: 100%;
    background-color: var(--gunmetal);
    grid-row: 1 / span 1;
}

span.keepR {
    display: block;
    height: 40px; 
    width: 100%;
    background-color: var(--gunmetal);
    grid-row: 1 / span 1;
}

a.topArrow {
    display: block;
    height: 40px; 
    width: 40px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: var(--outerSpace) url(../svg/topArrow.svg) no-repeat center 50%;
    grid-row: 1 / span 1;
    margin-left: auto;
    margin-right: auto;
}

/* De grote, kleur en positie van de footer */
footer {
    width: 100%;
    background-color: var(--gunmetal);
    box-shadow: inset 0px 20px 20px 0px rgb(12 36 49) !important;
}

/* Hier wordt de tekst opmaak binnen de footer bepaald */
footer p, footer a {
    color: #FFF;
    font-family: 'Verdana', Helvetica, sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
}

footer a:visited {
    color: #FFF;
}

/* De opmaak van de menu items */
.footNav li {
    margin-top: 8px;
    margin-bottom: 8px;
}

.footNav li.first {
    margin-top: 0px;
}

.footNav li.last {
    margin-bottom: 0px;
}

.footContact br {
    content: "";
    display: block;
    margin-top: 12px
}

a.avg {
    color: var(--lightGray);
    text-decoration: underline;
}


/*--------------------------------------------------
    Het grid systeem
---------------------------------------------------*/
/* Het grid instellen */
.footgrid {
    display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-row-gap: 32px;
    grid-auto-rows: auto auto;
    grid-auto-columns: auto auto;
    padding-top: 24px;
    padding-bottom: 32px;
}

/* Het grid toepassen */
.footerMenu, .footAdres, .footContact, .copy {
    grid-column: 1 / span 4;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}


/*--------------------------------------------------
    De breekpunten
---------------------------------------------------*/

@media (min-width: 385px) {
    p.copy br.on {
        display: none;
    }
}

/* Tussenversie van mobiel en tablet (450px) */
@media (min-width: 450px) {
    footer {
        margin-top: 45px;
    }

    .footgrid {
        padding-top: 25px;
    }
}

/* Tablet-versie (768px) */
@media (min-width: 768px) {
    footer {
        margin-top: 65px;
    }

    footer p, footer a {
        font-size: 15px;
        line-height: 23px;
    }

    .footerMenu {
        grid-column: 1 / span 6;
    }

    .footAdres {
        grid-column: 7 / span 6;
        margin-top: auto;
        margin-bottom: auto;
    }
}

/* Laptop-versie (1024px) */
@media (min-width: 1024px) {
    footer {
        margin-top: 80px;
    }

    .footgrid {
        grid-row-gap: 35px;
        padding-top: 35px;
        padding-bottom: 20px;
    }

    .footerMenu {
        grid-column: 1 / span 4;
        text-align: left;
        padding-left: 50px;
        margin-left: auto;
        margin-right: auto;
    }

    .footAdres {
        grid-column: 5 / span 4;
        margin-top: 0;
        margin-bottom: 0;
        text-align: left;
        margin-left: auto;
        margin-right: auto;
    }

    .footContact {
        grid-column: 9 / span 4;
        text-align: left;
        padding-right: 50px;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Grotere laptopversie (1280px) */
@media (min-width: 1280PX) {
    footer {
        margin-top: 105px;
    }

    footer p, footer a {
        font-size: 16px;
        line-height: 24px;
    }

    .footgrid {
        padding-top: 40px;
    }

    .footerMenu {
        padding-left: 100px;
    }

    .footContact {
        padding-right: 100px;
    }
}

/* Tussenversie van laptop en desktop (1680px) */
@media (min-width: 1680PX) {
    footer {
        margin-top: 135px;
    }

    footer p, footer a {
        font-size: 17px;
        line-height: 26px;
    }

    .footgrid {
        padding-top: 50px;
        padding-bottom: 25px;
    }

    .footerMenu {
        padding-left: 200px;
    }

    .footContact {
        padding-right: 200px;
    }
}

/* Desktop versie (1920px) */
@media (min-width: 1920PX) {
    footer {
        margin-top: 150px;
    }

    .footgrid {
        padding-top: 55px;
    }

    .footerMenu {
        padding-left: 250px;
    }

    .footContact {
        padding-right: 250px;
    }
}