/*---------------------------------------------------------------------------------------
    In dit CSS-bestand vindt je de stijl voor de footer die voor elke pagina nodig is
----------------------------------------------------------------------------------------*/

/* De grote, kleur en positie van de footer */
footer {
    width: 100%;
    background-color: #0E2D3C;
    margin-top: 35px;
}

/* Hier wordt de tekst opmaak binnen de footer bepaald */
footer p, footer a {
    color: #FFF;
    font-family: 'Verdana', Helvetica, sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
}

/* De opmaak van de menu items */
.footNav li {
    margin-top: 8px;
    margin-bottom: 8px;
}

.footNav li.first {
    margin-top: 0px;
}

.footNav li.last {
    margin-bottom: 0px;
}

/* De positie van de contact button */
.footContact button {
    margin: 15px 0 15px 0;
}


/*--------------------------------------------------
    Het grid systeem
---------------------------------------------------*/
/* Het grid instellen */
.footgrid {
    display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-row-gap: 40px;
    grid-auto-rows: auto auto;
    grid-auto-columns: auto auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

/* Het grid toepassen */
.footerMenu, .footAdres, .footContact, .copy {
    grid-column: 1 / span 12;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}


/*--------------------------------------------------
    De breekpunten
---------------------------------------------------*/

/* Tussenversie van mobiel en tablet (450px) */
@media (min-width: 450px) {
    .footgrid {
        padding-top: 25px;
    }
}

/* Tablet-versie (768px) */
@media (min-width: 768px) {
    footer p, footer a {
        font-size: 15px;
        line-height: 23px;
    }

    .footerMenu {
        grid-column: 1 / span 6;
    }

    .footAdres {
        grid-column: 7 / span 6;
        margin-top: auto;
        margin-bottom: auto;
    }
}

/* Laptop-versie (1024px) */
@media (min-width: 1024px) {
    .footgrid {
        grid-row-gap: 35px;
        padding-top: 35px;
        padding-bottom: 20px;
    }

    .footerMenu {
        grid-column: 1 / span 4;
        text-align: left;
        padding-left: 50px;
        margin-left: auto;
        margin-right: auto;
    }

    .footAdres {
        grid-column: 5 / span 4;
        margin-top: 0;
        margin-bottom: 0;
        text-align: left;
        margin-left: auto;
        margin-right: auto;
    }

    .footContact {
        grid-column: 9 / span 4;
        text-align: left;
        padding-right: 50px;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Grotere laptopversie (1280px) */
@media (min-width: 1280PX) {
    footer p, footer a {
        font-size: 16px;
        line-height: 24px;
    }

    .footgrid {
        padding-top: 40px;
    }

    .footerMenu {
        padding-left: 100px;
    }

    .footContact {
        padding-right: 100px;
    }
}

/* Tussenversie van laptop en desktop (1680px) */
@media (min-width: 1680PX) {
    footer p, footer a {
        font-size: 17px;
        line-height: 26px;
    }

    .footgrid {
        padding-top: 50px;
        padding-bottom: 25px;
    }

    .footerMenu {
        padding-left: 200px;
    }

    .footContact {
        padding-right: 200px;
    }
}

/* Desktop versie (1920px) */
@media (min-width: 1920PX) {
    .footgrid {
        padding-top: 55px;
    }

    .footerMenu {
        padding-left: 250px;
    }

    .footContact {
        padding-right: 250px;
    }
}