/*--------------------------------------------------------------
    In dit CSS-bestand vindt je de stijl voor de home pagina
---------------------------------------------------------------*/

/* Hier kunt u alle stylesheets importeren */
@import 'main.css';
@import 'header.css';
@import 'footer.css';

/* Het vlak voor de hoofd content wordt hier bewerkt */
main {
    overflow: hidden;
}


/*--------------------------------------------------
    CSS voor de banner
---------------------------------------------------*/
section.banner {
    overflow: hidden;
    box-shadow: 0px 2px 16px 0px rgba(0,0,0,0.48);
    -webkit-box-shadow: 0px 2px 16px 0px rgba(0,0,0,0.48);
    -moz-box-shadow: 0px 2px 16px 0px rgba(0,0,0,0.48);
}

/* De bannerabeelding bewerken */
.hoofdimg {
    min-height: fit-content;
    width: 100%;
    height: 100%;
    background-image: url(../images/pistool-cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: -1;
}

/* de banner tekst bewerken */
.banner-text {
    margin-left: 15px;
    margin-right: 15px;
}

.banner-text h1 {
    padding-top: 48px;
	text-align: left;
    color: #FFF;
    text-shadow: 1px 1px 2px #000, 0px 0px 12px #000;
}

.banner-text p {
    margin-top: 24px;
	text-align: left;
    color: #FFF;
    text-shadow: 1px 1px 2px #000, 0px 0px 12px #000;
}

/* Dit is voor extra ruimte onder de banner button */
.banner-text div.button {
    padding-bottom: 48px;
}


/*--------------------------------------------------
    CSS voor wat de vereniging te bieden heeft
---------------------------------------------------*/
h2.pageTitleHome {
    padding-top: 48px;
    text-align: center;
}

/* Het grid instellen voor de drie kopjes die horen bij wat de vereniging te bieden heeft */
.watBiedenWij {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 24px;
    grid-auto-rows: auto auto;
    grid-auto-columns: auto auto;
    margin-top: 32px;
    margin-bottom: 88px;
}

/* Het grid toepassen op de drie kopjes die horen bij wat de vereniging te bieden heeft */
.gezelligheid, .kwaliteit, .strijd {
    grid-column: 1 / span 4;
}

.watBiedenWij div p {
    margin-top: 12px;
}


/*-----------------------------------------------------------------
    CSS voor de korte intro stukjes van Jeugdleden & Lidmaatschap
------------------------------------------------------------------*/
/* De opmaak van de foto's */
.jeugdleden figure, .lidmaatschap figure {
    width: auto;
    height: 240px;
    overflow: hidden;
    position: relative;
}
  
.jeugd img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    object-position: center center;
}

.aanmelden img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    object-position: bottom;
}

/* De zichtbaarheid van de titel voor op een laptop/ desktop */
h2.web {
    visibility: hidden;
    position: absolute;
}

/* Het grid instellen */
.jeugdleden, .lidmaatschap {
    display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-row-gap: 25px;
    grid-auto-rows: auto auto;
    grid-auto-columns: auto auto;
    margin-bottom: 88px;
    position: relative;
}

/* Het grid toepassen */
.jeugdledenText, .jeugd, .lidmaatschapText, .aanmelden {
    grid-column: 1 / span 4;
    text-align: left;
}

/* De gekleurde achtergrond achter de content stukjes */
.sectionDividerR {
	width: 95%;
    height: 248px;
    background: var(--aliceBlue) 0% 0% no-repeat padding-box;
	border-radius: 150px 0px 0px 150px;
	opacity: 1;
    position: absolute;
    top: 33%;
    right: -16px;
    left: auto;
    z-index: -1;
    margin: 0px;
	/* transition: 1s ease-in-out; */
}

.sectionDividerL {
    width: 95%;
    height: 248px;
    background: var(--mintCream) 0% 0% no-repeat padding-box;
	border-radius: 0px 150px 150px 0px;
	opacity: 1;
    position: absolute;
    top: 33%;
    left: -16px;
    right: auto;
    z-index: -1;
    margin: 0px;
	/* transition: 1s ease-in-out; */
}

/*--------------------------------------------------
    CSS voor het laatste nieuws
---------------------------------------------------*/
/* Het grid instellen voor de nieuws items */
.nieuwsItems {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 24px;
    grid-auto-rows: auto auto;
    grid-auto-columns: auto auto;
    margin-top: 32px;
    padding-bottom: 44px;
}

/* Het grid toepassen op de nieuws items */
.nieuwsItem {
    grid-column: 1 / span 4;
    text-align: left;
}

p.datum {
    font-style: italic;
    color: var(--gray);
    font-size: 13px;
    line-height: 21px;
    margin-top: 4px;
    margin-bottom: 16px;
}

hr {
    color: var(--feldGrau);
    border-style: solid;
}


/*--------------------------------------------------
    CSS voor de sponsors
---------------------------------------------------*/
section.sponsors {
    background-color: var(--timberwolf);
    /* Dit zorgt ervoor dat de achtergrond de voledige schermbreete aanneemt */
    --child-width: 100vw;
    margin-left: calc(-.5 * var(--child-width) + 50%);
    width: var(--child-width);
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.48), inset 0px -2px 16px 0px rgba(0,0,0,0.48);
    -webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.48), inset 0px -2px 16px 0px rgba(0,0,0,0.48);
    -moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.48), inset 0px -2px 16px 0px rgba(0,0,0,0.48);
}

div.logoSponsors {
    margin-left: 16px;
    margin-right: 16px;
}

.logoSponsors h2 {
    padding-top: 44px;
    text-align: center;
}

.sponsor img {
    display: block;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
}

.sponsor:hover {
    box-shadow: 0px 0px 10px 1px #000;
}

/* Het grid instellen op de logo's van de sponsors */
.sponsorGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 16px;
    grid-auto-rows: auto auto;
    grid-auto-columns: auto auto;
    margin-top: 32px;
    padding-bottom: 56px;
}

/* Het grid toepassen op de logo's van de sponsors */
.odd {
    grid-column: 1 / span 2;
}

.even {
    grid-column: 3 / span 2;
}
/*-------------------------------------------------*/

footer {
    margin-top: 0;
}


/*--------------------------------------------------
    De breekpunten
---------------------------------------------------*/

/* Tussenversie van mobiel en tablet (450px) */
@media (min-width: 450px) {
    /* De banner */
    .banner-text, .banner div.button {
        margin-left: 20px;
        margin-right: 20px;
    }

    .banner-text h1 {
        padding-top: 25px;;
    }
    
    .banner-text p {
        margin-top: 35px;
    }
    /*----------------------------------------*/

    /* Wat de vereniging te bieden heeft */
    h2.pageTitleHome {
        padding-top: 50px;
    }

    .watBiedenWij {
        grid-row-gap: 30px;
        margin-top: 40px;
        margin-bottom: 50px;
    }

    .watBiedenWij section p {
        margin-top: 15px;
    }
    /*----------------------------------------*/

    /* Jeugdleden & Lidmaatschap */
    .jeugd, .aanmelden {
        width: 380px;
        height: 240px;
    }

    .jeugdLid {
        grid-row-gap: 30px;
        margin-top: 35px;
        margin-bottom: 35px;
    }

    .jeugdleden a button, .lidmaatschap a button {
        margin-top: 35px;
    }
    /*----------------------------------------*/

    /* Het laatste nieuws */
    .laatsteNieuws h2 {
        padding-top: 50px;
    }

    .nieuwsItems {
        grid-row-gap: 30px;
        margin-top: 40px;
        padding-bottom: 50px;
    }
    /*----------------------------------------*/

    /* De sponsors */
    div.logoSponsors {
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .logoSponsors h2 {
        padding-top: 50px;
    }

    .sponsorGrid {
        grid-gap: 20px;
        margin-top: 40px;
        padding-bottom: 50px;
    }
}

/* Extra tussenversie van mobiel en tablet (510px) */
@media (min-width: 510px) {
    .gezelligheid, .kwaliteit, .strijd {
        text-align: center;
    }
}

/* Tablet-versie (768px) */
@media (min-width: 768px) {
    /* De banner */
    .banner-text, .banner div.button {
        margin-left: 35px;
        margin-right: 35px;
    }

    .banner-text h1 {
        padding-top: 35px;;
    }

    .button a button {
        margin-top: 45px;
        margin-bottom: 25px;
    }
    /*----------------------------------------*/

    /* Wat de vereniging te bieden heeft */
    h2.pageTitleHome {
        padding-top: 55px;
    }

    .watBiedenWij {
        grid-row-gap: 35px;
        margin-top: 45px;
        margin-bottom: 55px;
    }

    .watBiedenWij section p {
        margin-top: 20px;
    }
    /*----------------------------------------*/

    /* Jeugdleden & Lidmaatschap */
    .jeugd, .aanmelden {
        width: 295px;
        height: 220px;
    }

    .jeugdLid {
        grid-row-gap: 65px;
        margin-top: 55px;
        margin-bottom: 55px;
    }

    .jeugdleden a button, .lidmaatschap a button {
        margin-top: 40px;
    }

    h2.web {
        visibility: visible;
        position: relative;
        margin-bottom: 25px;
    }

    h2.app {
        visibility: hidden;
        position: absolute;
    }

    .jeugdLid figure, .jeugdleden, .lidmaatschap {
        margin-top: auto;
        margin-bottom: auto;
    }

    figure.aanmelden {
        margin-left: auto;
        margin-right: 0px;
    }

    .jeugd {
        grid-row: 1;
        grid-column: 1 / span 6;
    }
    
    .jeugdleden {
        grid-row: 1;
        grid-column: 7 / span 6;
    }

    .lidmaatschap {
        grid-row: 2;
        grid-column: 1 / span 6;
    }
    
    .aanmelden {
        grid-row: 2;
        grid-column: 7 / span 6;
    }
    /*----------------------------------------*/

    /* Het laatste nieuws */
    .laatsteNieuws h2 {
        padding-top: 55px;
    }

    .nieuwsItems {
        grid-row-gap: 35px;
        margin-top: 45px;
        padding-bottom: 55px;
    }

    p.datum {
        font-size: 14px;
        line-height: 22px;
        margin-top: 6px;
        margin-bottom: 15px;
    }
    /*----------------------------------------*/

    /* De sponsors */
    div.logoSponsors {
        margin-left: 35px;
        margin-right: 35px;
    }
    
    .logoSponsors h2 {
        padding-top: 55px;
    }

    .nieuwsItems {
        grid-column-gap: 25px;
        margin-top: 45px;
        padding-bottom: 55px;
    }

    .sponsor {
        grid-column: span 4;
        grid-row: 1;
    }
}

/* Laptop-versie (1024px) */
@media (min-width: 1024px) {
    /* De banner */
    .hoofdimg {
        min-height: 450px;
    }

    .banner-text, .banner div.button {
        margin-left: 50px;
        margin-right: 50px;
    }

    .button a button {
        margin-bottom: 35px;
    }

    /* Het grid instellen, zodat de paragraaftekst niet te lang wordt */
    .banner-text {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-auto-rows: auto auto;
        grid-auto-columns: auto auto;
    }

    /* Het grid toepassen op de heading en de paragraaf */
    .banner-text h1 {
        grid-column: 1 / span 12;
        padding-top: 50px;
    }

    .banner-text p {
        grid-column: 1 / span 8;
        margin-top: 45px;
    }
    /*----------------------------------------*/

    /* Wat de vereniging te bieden heeft */
    h2.pageTitleHome {
        padding-top: 75px;
    }

    .watBiedenWij {
        grid-column-gap: 30px;
        margin-top: 50px;
        margin-bottom: 75px;
    }

    .gezelligheid {
        grid-column: 1 / span 4;
    }

    .kwaliteit {
        grid-column: 5 / span 4;
    } 

    .strijd {
        grid-column: 9 / span 4;
    }

    .watBiedenWij section p {
        margin-top: 25px;
    }
    /*----------------------------------------*/

    /* Jeugdleden & Lidmaatschap */
    .jeugdLid {
        grid-row-gap: 75px;
        margin-top: 75px;
        margin-bottom: 75px;
    }

    .jeugd, .aanmelden {
        width: 385px;
        height: 278px;
    }

    h2.web {
        margin-bottom: 30px;
    }

    .jeugdleden a button, .lidmaatschap a button {
        margin-top: 45px;
    }
    /*----------------------------------------*/

    /* Het laatste nieuws */
    .laatsteNieuws h2 {
        padding-top: 75px;
    }

    .nieuwsItems {
        grid-row-gap: 40px;
        margin-top: 50px;
        padding-bottom: 75px;
    }

    .nieuwsItem {
        grid-column: 2 / span 10;
    }

    p.datum {
        margin-top: 8px;
        margin-bottom: 20px;
    }
    /*----------------------------------------*/

    /* De sponsors */
    div.logoSponsors {
        margin-left: 50px;
        margin-right: 50px;
    }
    
    .logoSponsors h2 {
        padding-top: 75px;
    }

    .sponsorGrid {
        grid-column-gap: 30px;
        margin-top: 50px;
        padding-bottom: 75px;
    }
}

/* Grotere laptopversie (1280px) */
@media (min-width: 1280PX) {
    /* De banner */
    .banner-text, .banner div.button {
        margin-left: 100px;
        margin-right: 100px;
    }

    .banner-text h1 {
        padding-top: 65px;;
    }

    .banner-text p {
        grid-column: 1 / span 7;
        margin-top: 55px;
    }

    .button a button {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    /*----------------------------------------*/

    /* Wat de vereniging te bieden heeft */
    h2.pageTitleHome {
        padding-top: 85px;
    }

    .watBiedenWij {
        grid-column-gap: 40px;
        margin-top: 65px;
        margin-bottom: 85px;
    }

    .watBiedenWij section p {
        margin-top: 30px;
    }
    /*----------------------------------------*/

    /* Jeugdleden & Lidmaatschap */
    .jeugdLid {
        grid-row-gap: 85px;
        margin-top: 85px;
        margin-bottom: 85px;
    }

    .jeugd, .aanmelden {
        width: 450px;
        height: 324px;
    }

    h2.web {
        margin-bottom: 35px;
    }

    .jeugdleden a button, .lidmaatschap a button {
        margin-top: 55px;
    }
    /*----------------------------------------*/

    /* Het laatste nieuws */
    .laatsteNieuws h2 {
        padding-top: 85px;
    }

    .nieuwsItems {
        grid-row-gap: 45px;
        margin-top: 65px;
        padding-bottom: 85px;
    }

    .nieuwsItem {
        grid-column: 2 / span 9;
    }

    p.datum {
        font-size: 15px;
        line-height: 23px;
        margin-top: 10px;
        margin-bottom: 25px;
    }
    /*----------------------------------------*/

    /* De sponsors */
    div.logoSponsors {
        margin-left: 100px;
        margin-right: 100px;
    }
    
    .logoSponsors h2 {
        padding-top: 85px;
    }

    .sponsorGrid {
        grid-column-gap: 35px;
        margin-top: 65px;
        padding-bottom: 85px;
    }
}

/* Tussenversie van laptop en desktop (1680px) */
@media (min-width: 1680PX) {
    /* De banner */
    .hoofdimg {
        min-height: 550px;
        background-position-y: -275px;
    }

    .banner-text, .banner div.button {
        margin-left: 200px;
        margin-right: 200px;
    }

    .banner-text h1 {
        padding-top: 85px;;
    }

    .banner-text p {
        margin-top: 65px;
    }

    .button a button {
        margin-top: 55px;
        margin-bottom: 65px;
    }
    /*----------------------------------------*/

    /* Wat de vereniging te bieden heeft */
    h2.pageTitleHome {
        padding-top: 105px;
    }

    .watBiedenWij {
        grid-column-gap: 50px;
        margin-top: 85px;
        margin-bottom: 105px;
    }

    .watBiedenWij section p {
        margin-top: 35px;
    }
    /*----------------------------------------*/

    /* Jeugdleden & Lidmaatschap */
    .jeugdLid {
        grid-row-gap: 105px;
        margin-top: 105px;
        margin-bottom: 105px;
    }

    .jeugd, .aanmelden {
        width: 535px;
        height: 386px;
    }

    h2.web {
        margin-bottom: 45px;
    }

    .jeugdleden a button, .lidmaatschap a button {
        margin-top: 60px;
    }
    /*----------------------------------------*/

    /* Het laatste nieuws */
    .laatsteNieuws h2 {
        padding-top: 105px;
    }

    .nieuwsItems {
        grid-row-gap: 50px;
        margin-top: 85px;
        padding-bottom: 105px;
    }

    p.datum {
        font-size: 16px;
        line-height: 25px;
        margin-top: 12px;
        margin-bottom: 30px;
    }
    /*----------------------------------------*/

    /* De sponsors */
    div.logoSponsors {
        margin-left: 200px;
        margin-right: 200px;
    }
    
    .logoSponsors h2 {
        padding-top: 105px;
    }

    .sponsorGrid {
        grid-column-gap: 80px;
        margin-top: 85px;
        padding-bottom: 105px;
    }
}

/* Desktop versie (1920px) */
@media (min-width: 1920PX) {
    /* De banner */
    .banner-text, .banner div.button {
        margin-left: 250px;
        margin-right: 250px;
    }

    .banner-text h1 {
        padding-top: 100px;;
    }

    .banner-text p {
        grid-column: 1 / span 6;
        margin-top: 75px;
    }

    .button a button {
        margin-top: 65px;
        margin-bottom: 75px;
    }
    /*----------------------------------------*/

    /* Wat de vereniging te bieden heeft */
    h2.pageTitleHome {
        padding-top: 150px;
    }

    .watBiedenWij {
        grid-column-gap: 60px;
        margin-top: 100px;
        margin-bottom: 150px;
    }

    .watBiedenWij section p {
        margin-top: 40px;
    }
    /*----------------------------------------*/

    /* Jeugdleden & Lidmaatschap */
    .jeugdLid {
        grid-row-gap: 150px;
        margin-top: 150px;
        margin-bottom: 150px;
    }

    .jeugd, .aanmelden {
        width: 625px;
        height: 450px;
    }

    h2.web {
        margin-bottom: 50px;
    }

    .jeugdleden a button, .lidmaatschap a button {
        margin-top: 65px;
    }
    /*----------------------------------------*/

    /* Het laatste nieuws */
    .laatsteNieuws h2 {
        padding-top: 150px;
    }

    .nieuwsItems {
        margin-top: 100px;
        padding-bottom: 150px;
    }

    .nieuwsItem {
        grid-column: 2 / span 8;
    }

    p.datum {
        margin-top: 14px;
    }
    /*----------------------------------------*/

    /* De sponsors */
    div.logoSponsors {
        margin-left: 250px;
        margin-right: 250px;
    }
    
    .logoSponsors h2 {
        padding-top: 150px;
    }

    .sponsorGrid {
        margin-top: 100px;
        padding-bottom: 150px;
    }
}