/*--------------------------------------------------------------
    In dit CSS-bestand vindt je de stijl voor de home pagina
---------------------------------------------------------------*/

/* Hier kunt u alle stylesheets importeren */
@import 'main.css';
@import 'header.css';
@import 'footer.css';
@import 'animaties.css';

/* Het vlak voor de hoofd content wordt hier bewerkt */
main {
    overflow: hidden;
}


/*--------------------------------------------------
    CSS voor de banner
---------------------------------------------------*/
section.banner {
    overflow: hidden;
    box-shadow: 0px 2px 16px 0px rgba(0,0,0,0.48);
    -webkit-box-shadow: 0px 2px 16px 0px rgba(0,0,0,0.48);
    -moz-box-shadow: 0px 2px 16px 0px rgba(0,0,0,0.48);
}

/* De bannerabeelding bewerken */
.hoofdimg {
    min-height: fit-content;
    width: 100%;
    height: 100%;
    background-image: url(../images/pistool-cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: -1;
}

/* de banner tekst bewerken */
.banner-text {
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}

.banner-text h1 {
    padding-top: 48px;
	text-align: left;
    color: #FFF;
    text-shadow: 1px 1px 2px #000, 0px 0px 12px #000;
}

.banner-text p {
	text-align: left;
    color: #FFF;
    text-shadow: 1px 1px 2px #000, 0px 0px 12px #000;
}

/* Dit is voor extra ruimte onder de banner button */
.banner-text div.button {
    padding-bottom: 48px;
}


/*--------------------------------------------------
    CSS voor wat de vereniging te bieden heeft
---------------------------------------------------*/
h2.pageTitleHome {
    margin-top: 48px;
    text-align: center;
}

/* Het grid instellen voor de drie kopjes die horen bij wat de vereniging te bieden heeft */
.watBiedenWij {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 24px;
    grid-auto-rows: auto auto;
    grid-auto-columns: auto auto;
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
}

/* Het grid toepassen op de drie kopjes die horen bij wat de vereniging te bieden heeft */
.gezelligheid, .kwaliteit, .strijd {
    grid-column: 1 / span 4;
}


/*-----------------------------------------------------------------
    CSS voor de korte intro stukjes van Jeugdleden & Lidmaatschap
------------------------------------------------------------------*/
.jeugdleden, .lidmaatschap {
    position: relative;
}

/* De opmaak van de foto's */
.jeugdleden figure, .lidmaatschap figure {
    position: relative;
    width: auto;
    height: 240px;
    overflow: hidden;
    margin-top: 24px;
    margin-bottom: 8px;
}
  
.jeugd img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    object-position: center center;
}

.aanmelden img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    object-position: bottom;
}

/* De zichtbaarheid van de titel voor op een laptop/ desktop */
h2.web {
    visibility: hidden;
    position: absolute;
}

/* Het grid instellen */
.jeugdGrid, .lidGrid {
    position: relative;
    display: grid;
	grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto auto;
    grid-auto-columns: auto auto;
    margin-left: auto;
    margin-right: auto;
}

/* Het grid toepassen */
.jeugdledenText, .jeugd, .lidmaatschapText, .aanmelden {
    grid-column: 1 / span 4;
    text-align: left;
}

.jeugdleden H2.app, .lidmaatschap H2.app {
    grid-row: 1;
}

.jeugd, .aanmelden {
    grid-row: 2;
}

.jeugdledenText, .lidmaatschapText {
    grid-row: 3;
}

/*--------------------------------------------------
    CSS voor het laatste nieuws
---------------------------------------------------*/
.laatsteNieuws {
    margin-left: auto;
    margin-right: auto;
}

/* Het grid instellen voor de nieuws items */
.nieuwsItems {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto auto;
    row-gap: 24px;
    margin-top: 32px;
}

/* Het grid toepassen op de nieuws items */
.nieuwsItem {
    grid-column: 1;
    text-align: left;
    margin-left: 16px;
}

p.datum {
    font-style: italic;
    color: var(--gray);
    font-size: 12px;
    margin-top: 4px;
    margin-bottom: 16px;
}

hr {
    color: var(--feldGrau);
    border-style: solid;
}


/*--------------------------------------------------
    CSS voor de sponsors
---------------------------------------------------*/
section.sponsors {
    background-color: var(--timberwolf);
    /* Dit zorgt ervoor dat de achtergrond de voledige schermbreete aanneemt */
    --child-width: 100vw;
    margin-left: calc(-.5 * var(--child-width) + 50%);
    width: var(--child-width);
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.48), inset 0px -2px 16px 0px rgba(0,0,0,0.48);
    -webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.48), inset 0px -2px 16px 0px rgba(0,0,0,0.48);
    -moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.48), inset 0px -2px 16px 0px rgba(0,0,0,0.48);
}

div.logoSponsors {
    margin-left: 16px;
    margin-right: 16px;
}

.logoSponsors h2 {
    text-align: center;
}

.sponsor {
    max-width: 328px;
}

.sponsor img {
    display: block;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
}

.sponsor:hover {
    box-shadow: 0px 0px 10px 0px #000000aa;
    cursor: url("../svg/Target_aim1.svg") 12 12, pointer;
}

/* Het grid instellen op de logo's van de sponsors */
.sponsorGrid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0px, 328px));
    gap: 16px;
    margin-top: 32px;
    padding-bottom: 56px;
    margin-left: auto;
    margin-right: auto;
}


/*--------------------------------------------------
    De breekpunten
---------------------------------------------------*/

/* Tussenversie van mobiel en tablet (480px) */
@media (min-width: 480px) {
    /* De banner */
    .banner-text {
        padding-left: 22px;
        padding-right: 22px;
    }

    .banner-text h1 {
        padding-top: 56px;
    }

    .banner-text div.button {
        padding-bottom: 56px;
    }
    /*----------------------------------------*/

    /* Wat de vereniging te bieden heeft */
    h2.pageTitleHome {
        margin-top: 56px;
    }

    .watBiedenWij {
        row-gap: 28px;
        margin-top: 36px;
    }
    /*----------------------------------------*/

    /* Jeugdleden & Lidmaatschap */
    .jeugdleden figure, .lidmaatschap figure {
        height: 264px;
        margin-bottom: 4px;
    }
    /*----------------------------------------*/

    /* Het laatste nieuws */
    .nieuwsItems {
        row-gap: 28px;
        margin-top: 36px;
    }
    
    .nieuwsItem {
        margin-left: 20px;
    }
    
    p.datum {
        font-size: 13px;
        margin-bottom: 18px;
    }
    /*----------------------------------------*/

    /* De sponsors */
    div.logoSponsors {
        margin-left: 22px;
        margin-right: 22px;
    }

    .sponsorGrid {
        gap: 18px;
        margin-top: 32px;
        padding-bottom: 68px;
    }
}

/* Extra tussenversie van mobiel en tablet (510px) */
@media (min-width: 510px) {
    .gezelligheid, .kwaliteit, .strijd {
        text-align: center;
    }
}

/* Tablet-versie (768px) */
@media (min-width: 768px) {
    /* De banner */
    .banner-text {
        padding-left: 36px;
        padding-right: 36px;
    }

    .banner-text h1 {
        padding-top: 66px;;
    }

    .banner-text div.button {
        padding-bottom: 66px;
    }
    /*----------------------------------------*/

    /* Wat de vereniging te bieden heeft */
    h2.pageTitleHome {
        margin-top: 66px;
    }

    .watBiedenWij {
        grid-template-columns: repeat(8, 1fr);
        row-gap: 34px;
        margin-top: 44px;
    }

    .gezelligheid, .kwaliteit, .strijd {
        grid-column: 2 / span 6;
    }
    /*----------------------------------------*/

    /* Jeugdleden & Lidmaatschap */
    .jeugdleden figure, .lidmaatschap figure {
        height: 300px;
        margin-top: auto;
        margin-bottom: auto;
    }

    h2.web {
        visibility: visible;
        position: relative;
    }

    h2.app {
        visibility: hidden;
        position: absolute;
    }

    .jeugdGrid, .lidGrid {
        grid-template-columns: repeat(8, 1fr);
        column-gap: 36px;
        align-items: center;
    }

    .jeugd {
        grid-row: 1;
        grid-column: 1 / span 4;
    }
    
    .jeugdledenText {
        grid-row: 1;
        grid-column: 5 / span 4;
    }
    
    .aanmelden {
        grid-row: 1;
        grid-column: 5 / span 4;
    }

    .lidmaatschapText {
        grid-row: 1;
        grid-column: 1 / span 4;
    }

    .sectionDivider {
        top: 50%;
    }
    /*----------------------------------------*/

    /* Het laatste nieuws */
    .nieuwsItems {
        row-gap: 34px;
        margin-top: 44px;
        max-width: 90%;
    }
    
    .nieuwsItem {
        margin-left: 28px;
    }
    
    p.datum {
        font-size: 14px;
        margin-top: 6px;
        margin-bottom: 22px;
    }
    /*----------------------------------------*/

    /* De sponsors */
    div.logoSponsors {
        margin-left: 36px;
        margin-right: 36px;
    }
    
    .sponsorGrid {
        grid-template-columns: repeat(3, minmax(0, 328px));
        gap: 20px;
        justify-content: center;
        margin-top: 40px;
        padding-bottom: 88px;
    }
}

/* Laptop-versie (1024px) */
@media (min-width: 1024px) {
    /* De banner */
    .banner-text {
        padding-left: 56px;
        padding-right: 56px;

        /* Het grid instellen, zodat de paragraaftekst niet te lang wordt */
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-auto-rows: auto auto;
        grid-auto-columns: auto auto;
    }

    /* Het grid toepassen op de heading en de paragraaf/ button */
    .banner-text h1 {
        grid-column: 1 / span 12;
        padding-top: 80px;
    }

    .banner-text p, .banner-text div.button {
        grid-column: 1 / span 8;
    }

    .banner-text div.button {
        padding-bottom: 80px;
    }
    /*----------------------------------------*/

    /* Wat de vereniging te bieden heeft */
    h2.pageTitleHome {
        margin-top: 80px;
    }

    .watBiedenWij {
        grid-template-columns: repeat(12, 1fr);
        column-gap: 24px;
        margin-top: 54px;
    }

    .gezelligheid {
        grid-column: 1 / span 4;
    }

    .kwaliteit {
        grid-column: 5 / span 4;
    } 

    .strijd {
        grid-column: 9 / span 4;
    }
    /*----------------------------------------*/

    /* Jeugdleden & Lidmaatschap */
    .jeugdleden figure, .lidmaatschap figure {
        height: 332px;
    }

    .jeugdGrid, .lidGrid {
        grid-template-columns: repeat(12, 1fr);
        column-gap: 50px;
        min-height: 392px;
    }

    .jeugd {
        grid-column: 1 / span 6;
    }
    
    .jeugdledenText {
        grid-column: 7 / span 6;
    }
    
    .aanmelden {
        grid-column: 7 / span 6;
    }

    .lidmaatschapText {
        grid-column: 1 / span 6;
    }
    /*----------------------------------------*/

    /* Het laatste nieuws */
    .nieuwsItems {
        row-gap: 40px;
        margin-top: 54px;
    }
    
    .nieuwsItem {
        margin-left: 34px;
    }
    
    p.datum {
        font-size: 15px;
        margin-top: 8px;
        margin-bottom: 26px;
    }
    /*----------------------------------------*/

    /* De sponsors */
    div.logoSponsors {
        margin-left: 56px;
        margin-right: 56px;
    }

    .sponsorGrid {
        gap: 22px;
        margin-top: 48px;
        padding-bottom: 104px;
    }
}

/* Grotere laptopversie (1280px) */
@media (min-width: 1280PX) {
    /* De banner */
    .banner-text {
        padding-left: 120px;
        padding-right: 120px;
    }

    .banner-text h1 {
        padding-top: 94px;
    }

    .banner-text p, .banner-text div.button {
        grid-column: 1 / span 7;
    }

    .banner-text div.button {
        padding-bottom: 94px;
    }
    /*----------------------------------------*/

    /* Wat de vereniging te bieden heeft */
    h2.pageTitleHome {
        margin-top: 94px;
    }

    .watBiedenWij {
        column-gap: 40px;
        margin-top: 64px;
    }
    /*----------------------------------------*/

    /* Jeugdleden & Lidmaatschap */
    .jeugdleden figure, .lidmaatschap figure {
        height: 364px;
    }

    .jeugdGrid, .lidGrid {
        min-height: 456px;
        column-gap: 64px;
    }
    /*----------------------------------------*/

    /* Het laatste nieuws */
    .nieuwsItems {
        row-gap: 48px;
        margin-top: 64px;
        max-width: 900px;
    }
    
    .nieuwsItem {
        margin-left: 40px;
    }
    
    p.datum {
        font-size: 16px;
        margin-top: 10px;
        margin-bottom: 28px;
    }
    /*----------------------------------------*/

    /* De sponsors */
    div.logoSponsors {
        margin-left: 120px;
        margin-right: 120px;
    }

    .sponsorGrid {
        gap: 24px;
        margin-top: 56px;
        padding-bottom: 120px;
    }
}

/* Tussenversie van laptop en desktop (1600px) */
@media (min-width: 1600PX) {
    /* De banner */
    .banner-text {
        padding-left: 200px;
        padding-right: 200px;
        max-width: 1280px;
    }

    .banner-text h1 {
        padding-top: 110px;;
    }

    .banner-text div.button {
        padding-bottom: 110px;
    }
    /*----------------------------------------*/

    /* Wat de vereniging te bieden heeft */
    h2.pageTitleHome {
        margin-top: 110px;
    }

    .watBiedenWij {
        max-width: 1280px;
        column-gap: 48px;
        margin-top: 76px;
    }
    /*----------------------------------------*/

    /* Jeugdleden & Lidmaatschap */
    .jeugdleden figure, .lidmaatschap figure {
        height: 406px;
    }

    .jeugdGrid, .lidGrid {
        max-width: 1280px;
        min-height: 520px;
        column-gap: 80px;
    }
    /*----------------------------------------*/

    /* Het laatste nieuws */
    .laatsteNieuws {
        max-width: 1280px;
    }

    .nieuwsItems {
        row-gap: 56px;
        margin-top: 76px;
    }
    
    .nieuwsItem {
        margin-left: 48px;
    }
    
    p.datum {
        margin-top: 12px;
        margin-bottom: 32px;
    }
    /*----------------------------------------*/

    /* De sponsors */
    div.logoSponsors {
        margin-left: 200px;
        margin-right: 200px;
    }

    .sponsorGrid {
        max-width: 1280px;
        gap: 28px;
        margin-top: 60px;
        padding-bottom: 136px;
    }
}

/* Desktop versie (1920px) */
@media (min-width: 1920PX) {
    /* De banner */
    .banner-text {
        padding-left: 256px;
        padding-right: 256px;
        max-width: 1408px;
    }

    .banner-text h1 {
        padding-top: 128px;;
    }

    .banner-text p, .banner-text div.button {
        grid-column: 1 / span 6;
    }

    .banner-text div.button {
        padding-bottom: 128px;
    }
    /*----------------------------------------*/

    /* Wat de vereniging te bieden heeft */
    h2.pageTitleHome {
        margin-top: 128px;
    }

    .watBiedenWij {
        column-gap: 56px;
        margin-top: 88px;
        max-width: 1408px;
    }
    /*----------------------------------------*/

    /* Jeugdleden & Lidmaatschap */
    .jeugdleden figure, .lidmaatschap figure {
        height: 448px;
    }

    .jeugdGrid, .lidGrid {
        column-gap: 96px;
        max-width: 1408px;
    }
    /*----------------------------------------*/

    /* Het laatste nieuws */
    .laatsteNieuws {
        max-width: 1408px;
    }

    .nieuwsItems {
        row-gap: 64px;
        margin-top: 88px;
        max-width: 70%;
    }
    
    .nieuwsItem {
        margin-left: 56px;
    }
    /*----------------------------------------*/

    /* De sponsors */
    div.logoSponsors {
        margin-left: 256px;
        margin-right: 256px;
    }

    .sponsorGrid {
        gap: 32px;
        margin-top: 64px;
        padding-bottom: 144px;
        max-width: 1408px;
    }
}