/*---------------------------------------------------------------------------------
    In dit CSS-bestand vindt je de stijl voor de Informatie - Disciplines pagina
----------------------------------------------------------------------------------*/

/* Hier kunt u alle stylesheets importeren */
@import 'main.css';
@import 'header.css';
@import 'subNav.css';
@import 'footer.css';
@import 'animaties.css';
@import 'slides.css';

/* Het vlak voor de hoofd content wordt hier bewerkt */
main {
    overflow: hidden;
}

/*--------------------------------------------------
    CSS voor de discipline stukjes
---------------------------------------------------*/
article {
    position: relative;
}

/* De opmaak van de foto's */
figure.photo {
    position: relative;
    width: auto;
    height: 240px;
    overflow: hidden;
    margin-bottom: 24px;
}
  
.photo img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    cursor: url("../svg/Target_aim1.svg") 12 12, pointer;
}

.H2textGapD {
    margin-bottom: 16px;
}

.wanneer, .textD {
    margin-top: 16px;
}

/* Het grid instellen voor de disciplines */
.LP, .LG, .KG, .KKG, .KKK, .KKP, .GKP {
    position: relative;
    display: grid;
	grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto auto;
    grid-auto-columns: auto auto;
    margin-left: auto;
    margin-right: auto;
}

/* Het grid toepassen op de disciplines */
.photo, .oddTP, .oddTH, .evenTP, .evenTH {
    grid-column: 1 / span 4;
    text-align: left;
}


/*--------------------------------------------------
    De breekpunten
---------------------------------------------------*/

/* Tussenversie van mobiel en tablet (480px) */
@media (min-width: 480px) {
    /* De disciplines */
    figure.photo {
        height: 272px;
    }

    .H2textGapD {
        margin-bottom: 20px;
    }

    .wanneer {
        margin-top: 17px;
    }

    .textD {
        margin-top: 20px;
    }
}

@media (min-width: 600px) {
    /* De disciplines */
    figure.photo {
        height: 288px;
    }
}

/* Tablet-versie (768px) */
@media (min-width: 768px) {
    /* De disciplines */
    figure.photo {
        height: 300px;
        margin-bottom: 0px;
    }

    .H2textGapD {
        margin-bottom: 24px;
    }

    .afstand {
        display: flex;
        flex-wrap: wrap;
        column-gap: 29px;
    }

    .wanneer {
        margin-top: 18px;
        display: flex;
        flex-wrap: wrap;
        column-gap: 14px;
    }

    .textD {
        margin-top: 22px;
    }

    .LP, .LG, .KG, .KKG, .KKK, .KKP, .GKP {
        grid-template-columns: repeat(8, 1fr);
        column-gap: 36px;
        align-items: center;
    }

    .oddI {
        grid-row: 2;
        grid-column: 1 / span 4;
    }
    
    .oddTP {
        grid-row: 2;
        grid-column: 5 / span 4;
    }

    .oddTH {
        grid-row: 1;
        grid-column: 1 / span 8;
    }

    .evenTH {
        grid-row: 1;
        grid-column: 1 / span 8;
    }

    .evenTP {
        grid-row: 2;
        grid-column: 1 / span 4;
    }
    
    .evenI {
        grid-row: 2;
        grid-column: 5 / span 4;
    }
}

/* Laptop-versie (1024px) */
@media (min-width: 1024px) {
    /* De disciplines */
    figure.photo {
        height: 332px;
    }

    .H2textGapD {
        margin-bottom: 30px;
    }

    .afstand {
        column-gap: 33px;
    }

    .wanneer {
        margin-top: 19px;
        column-gap: 18px;
    }

    .textD {
        margin-top: 26px;
    }

    .oddTP, .evenTP {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        min-height: 392px;
    }

    .LP, .LG, .KG, .KKG, .KKK, .KKP, .GKP {
        grid-template-columns: repeat(12, 1fr);
        column-gap: 50px;
    }

    .oddI {
        grid-column: 1 / span 6;
    }
    
    .oddTP {
        grid-column: 7 / span 6;
    }

    .oddTH {
        grid-row: 1;
        grid-column: 1 / span 12;
    }

    .evenTH {
        grid-row: 1;
        grid-column: 1 / span 12;
    }

    .evenTP {
        grid-column: 1 / span 6;
    }
    
    .evenI {
        grid-column: 7 / span 6;
    }

    .sectionDivider {
        top: 59%;
    }
}

/* Grotere laptopversie (1280px) */
@media (min-width: 1280PX) {
    /* De disciplines */
    figure.photo {
        height: 364px;
    }

    .H2textGapD {
        margin-bottom: 36px;
    }

    .afstand {
        column-gap: 40px;
    }

    .wanneer {
        margin-top: 20px;
        column-gap: 24px;
    }

    .textD {
        margin-top: 30px;
    }

    .oddTP, .evenTP {
        min-height: 456px;
    }

    .LP, .LG, .KG, .KKG, .KKK, .KKP, .GKP {
        column-gap: 64px;
    }
}

/* Tussenversie van laptop en desktop (1600px) */
@media (min-width: 1600PX) {
    /* De disciplines */
    figure.photo {
        height: 406px;
    }

    .H2textGapD {
        margin-bottom: 42px;
    }

    .oddTP, .evenTP {
        display: block;
        min-height: auto;
    }

    .LP, .LG, .KG, .KKG, .KKK, .KKP, .GKP {
        column-gap: 80px;
        max-width: 1330px;
        min-height: 520px;
    }

    .oddI {
        grid-row: 1 / span 2;
    }

    .oddTH {
        grid-column: 7 / span 6;
    }

    .evenTH {
        grid-column: 1 / span 6;
    }
    
    .evenI {
        grid-row: 1 / span 2;
    }

    .sectionDivider {
        top: 50%;
    }    
}

/* Desktop versie (1920px) */
@media (min-width: 1920PX) {
    /* De disciplines */
    figure.photo {
        height: 448px;
    }

    .H2textGapD {
        margin-bottom: 48px;
    }

    .LP, .LG, .KG, .KKG, .KKK, .KKP, .GKP {
        column-gap: 96px;
        max-width: 1408px;
    }
}

@media (min-width: 2070PX) {
    .LP, .LG, .KG, .KKG, .KKK, .KKP, .GKP {
        max-width: 1558px;
    }
}