/*------------------------------------------------------------------------------------
    In dit CSS-bestand vindt je de stijl voor de Informatie - Diverse links pagina
-------------------------------------------------------------------------------------*/

/* Hier kunt u alle stylesheets importeren */
@import 'main.css';
@import 'header.css';
@import 'subNav.css';
@import 'footer.css';
@import 'animaties.css';


section.afterIntro a {
    line-height: 2;
}


/*--------------------------------------------------
    De breekpunten
---------------------------------------------------*/
/* Tussenversie van laptop en desktop (1600px) */
@media (min-width: 1600PX) {
    section.afterIntro {
        max-width: 1280px;
        margin-left: auto;
        margin-right: auto;
    }
    
}

/* Desktop versie (1920px) */
@media (min-width: 1920PX) {
    section.afterIntro {
        max-width: 1408px;
        margin-left: auto;
        margin-right: auto;
    }
}