/*------------------------------------------------------------------------------------
    In dit CSS-bestand vindt je de stijl voor de Informatie - Diverse links pagina
-------------------------------------------------------------------------------------*/

/* Hier kunt u alle stylesheets importeren */
@import 'main.css';
@import 'header.css';
@import 'subNav.css';
@import 'footer.css';

section {
    margin-top: 25px;
}

a {
    line-height: 25px;
}

/*--------------------------------------------------
    De breekpunten
---------------------------------------------------*/

/* Tussenversie van mobiel en tablet (480px) */
@media (min-width: 480px) {
    a {
        line-height: 28px;
    }
}

/* Tablet-versie (768px) */
@media (min-width: 768px) {
    article {
        margin-top: 35px;
    }
    
    a {
        line-height: 30px;
    }
}

/* Laptop-versie (1024px) */
@media (min-width: 1024px) {
    article {
        margin-top: 50px;
    }
}

/* Grotere laptopversie (1280px) */
@media (min-width: 1280PX) {
    article {
        margin-top: 65px;
    }
    
    a {
        line-height: 32px;
    }
}

/* Tussenversie van laptop en desktop (1600px) */
@media (min-width: 1600PX) {
    article {
        margin-top: 85px;
    }
}

/* Desktop versie (1920px) */
@media (min-width: 1920PX) {
    article {
        margin-top: 100px;
    }
}