/*---------------------------------------------------------------------------------
    In dit CSS-bestand vindt je de stijl voor de Informatie - Competitie pagina
----------------------------------------------------------------------------------*/

/* Hier kunt u alle stylesheets importeren */
@import 'main.css';
@import 'header.css';
@import 'subNav.css';
@import 'footer.css';
@import 'animaties.css';


table, th, td {
    border: none;
    border-collapse: collapse;
}
  
table {
    width: 100%;
}

table.SVGJ {
    max-width: 458px;
}

table.KNSA {
    max-width: 478px;
}
  
th, td {
    padding: 8px;
    text-align: left;
}
  
tr:hover {
    background-color: #D6EEEE;
}

/*--------------------------------------------------
    De breekpunten
---------------------------------------------------*/

/* Tussenversie van mobiel en tablet (480px) */
@media (min-width: 480px) {

}

/* Extra tussenversie van mobiel en tablet (510px) */
@media (min-width: 510px) {
    h2.beginningGap {
        text-align: center;
    }
}

/* Tablet-versie (768px) */
@media (min-width: 768px) {

}

/* Laptop-versie (1024px) */
@media (min-width: 1024px) {
    
}

/* Grotere laptopversie (1280px) */
@media (min-width: 1280PX) {
    
}

/* Tussenversie van laptop en desktop (1600px) */
@media (min-width: 1600PX) {
    
}

/* Desktop versie (1920px) */
@media (min-width: 1920PX) {
    
}