/*---------------------------------------------------------------------------------
    In dit CSS-bestand vindt je de stijl voor het introductie aanmeldformulier
----------------------------------------------------------------------------------*/

/* Hier kunt u alle stylesheets importeren */
@import 'main.css';
@import 'subNav.css';
@import 'footer.css';
@import 'animaties.css';

/* Het vlak voor de hoofd content wordt hier bewerkt */
main {
    overflow: hidden;
}


/*-------------------------------------------------------
    CSS voor de fomulier header
--------------------------------------------------------*/
/* De grote, kleur en positie van de header worden hier bepaald */
header {
    background-color: var(--outerSpace);
    height: 60px;
    width: auto;
    position: sticky;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    top: 0;
    z-index: 100;
    padding-right: 16px;
    padding-left: 16px;
}

/* De positie en grootte van het logo */
a.logo img {
    position: relative;
    display: block;
    width: auto;
    height: 50px;
}

#sluitForm {
    height: 40px;
    width: 40px;
    position: relative;
    display: block;
    z-index: 101;
}

.close-button {
    cursor: url(../svg/Target_aim1.svg) 12 12, pointer;
    width: 100%;
    position: absolute;
    top: 50%;
}

.close-button::before,
.close-button::after {
    content: ''; /* Maak een pseudo-element voor de bovenste lijn */
    position: absolute;
    left: 24%;
    width: 32px;
    height: 4px;
    background-color: #FFF;
}
  
.close-button::before {
    transform: rotate(45deg); /* Draait de lijn 45 graden */
}
  
.close-button::after {
    transform: rotate(-45deg); /* Draait de lijn -45 graden */
}


/*-------------------------------------------------------
    CSS voor alles wat hoort bij het contactformulier
--------------------------------------------------------*/

.formRequired {
    margin-top: 32px;
    margin-bottom: 8px;
}

div.formulier {
    background-color: var(--timberwolf);
    /* Dit zorgt ervoor dat de achtergrond de voledige schermbreete aanneemt */
    --child-width: 100vw;
    margin-left: calc(-.5 * var(--child-width) + 50%);
    width: var(--child-width);
}

form {
    margin-left: 16px;
    margin-right: 16px;
    padding-bottom: 56px;
    padding-top: 8px;
}

fieldset {
    border: none;
    margin-bottom: 20px;
    width: auto;
}

fieldset.bericht {
    margin-bottom: 0px !important;
}

label {
    display: block;
    margin-top: 18px;
    margin-bottom: 4px;
}
  
input[type="text"],
input[type="date"],
input[type="email"],
input[type="tel"] {
    width: 100%;
    height: 40px;
    padding: 8px;
    border: none;
    border-bottom: 1.5px solid #000;
    border-radius: 0px;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    height: auto;
    padding: 8px;
    border: none;
    border-bottom: 1.5px solid #000;
    border-radius: 0px;
    box-sizing: border-box;
}

input#telefoonnummer {
    width: 60%;
}

.flex-container, .adresgegevens {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px; /* Voor wat ruimte tussen de velden */
    justify-content: space-between;
}

.flex-item {
    flex: 1 1 100%; /* Neemt 100% breedte op mobiel */
    min-width: 60%;
}

.flex-item.small {
    flex: 1 1 40%;
    min-width: 30%;
    max-width: 40%;
}

input:hover, textarea:hover {
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.5);
}

input:focus-visible, textarea:focus-visible {
    outline: var(--primary) auto 1px;
}

input.error-border,
textarea.error-border {
    border-bottom: 2.5px solid var(--warning);
}

input.valid-border,
textarea.valid-border {
    border-bottom: 2.5px solid var(--sucsess);
}

.error {
    color: var(--warning);
    font-family: 'Verdana', Helvetica, sans-serif;
    font-size: 10px;
    margin-top: 4px;
}

button[type="submit"] {
    background-color: var(--timberwolf);
    color: var(--timberwolf);
    border: none;
}

.nationaliteitField {
    position: relative;
}

.nationaliteitFieldNew {
    position: relative;
    margin-top: 8px;
}

.nationaliteitField button, .nationaliteitFieldNew button {
    position: absolute;
    background: none;
    color: #000;
    border: none;
    font-size: 32px;
    top: 1px;
    right: 10px;
    cursor: url(../svg/Target_aim1.svg) 12 12, pointer;
}


/*--------------------------------------------------
    CSS voor de pop-up melding
---------------------------------------------------*/

/* Voor de zwarte achtergrond */
#popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
}

/* De box waar de pop-up melding instaat */
#popup-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 60%;
    background-color: #fff;
    padding: 24px 16px;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.5);
    display: none;
}

#popup {
    text-align: center;
}

#close-popup {
    background: none;
    border: none;
}

/* de Pop-up button */
.PopUpBulletButton {
    margin-top: 24px;
}

.PopUpBulletButton:hover {
    cursor: url("../svg/Target_aim1.svg") 12 12, pointer;
}


/*--------------------------------------------------
    De breekpunten
---------------------------------------------------*/

/* Tussenversie van mobiel en tablet (480px) */
@media (min-width: 480px) {
    /* de fomulier header */
    header {
        height: 64px;
        padding-right: 22px;
        padding-left: 22px;
    }

    .close-button::before, .close-button::after {
        width: 36px;
    }

    a.logo img {
        height: 56px;
    }
    /*----------------------------------------*/
    
    /* Alles wat hoort bij het aanmeldformulier */
    form {
        margin-left: 22px;
        margin-right: 22px;
        padding-bottom: 68px;
        padding-top: 10px;
    }

    label {
        margin-top: 20px;
    }

    fieldset {
        margin-bottom: 24px;
    }

    input[type="text"],
    input[type="date"],
    input[type="email"],
    input[type="tel"] {
        height: 44px;
    }

    .nationaliteitField button, .nationaliteitFieldNew button {
        font-size: 34px;
        top: 2px;
    }
    /*----------------------------------------*/

    /* Alles wat hooort bij de Pop-up */

    #popup-container {
        min-width: 55%;
        padding: 32px 20px;
    }

    /* Pop-up Button */
    .PopUpBulletButton {
        margin-top: 26px;
    }
}

/* Extra tussenversie van mobiel en tablet (620px) */
@media (min-width: 620px) {
    .formulier, .formRequired {
        max-width: 620px;
        --child-width: auto !important;
        margin-left: auto !important;
        margin-right: auto;
    }

    form {
        margin-left: 32px;
        margin-right: 32px;
        padding-bottom: 40px;
    }

    div.topArrowB {
        background: none;
        box-shadow: none;
        margin-top: 68px;
    }

    div.topArrowB span.keepL, div.topArrowB a.topArrow, div.topArrowB span.keepR {
        box-shadow: none;
    }
}

/* Tablet-versie (768px) */
@media (min-width: 768px) {
    /* de fomulier header */
    header {
        height: 72px;
        padding-right: 36px;
        padding-left: 36px;
    }

    #sluitForm {
        height: 45px;
        width: 45px;
    }

    .close-button::before, .close-button::after {
        width: 42px;
        height: 5px;
        left: 16%;
    }

    a.logo img {
        height: 64px;
    }
    /*----------------------------------------*/
    
    /* Alles wat hoort bij het aanmeldformulier */
    form {
        margin-left: 42px;
        margin-right: 42px;
        padding-bottom: 48px;
        padding-top: 12px;
    }

    label {
        margin-top: 24px;
        margin-bottom: 6px;
    }

    fieldset {
        margin-bottom: 30px;
    }

    input[type="text"],
    input[type="date"],
    input[type="email"],
    input[type="tel"] {
        height: 50px;
    }

    .flex-item {
        flex: 1 1 60%;
        min-width: 50%;
        max-width: 57%;
    }

    .flex-item.small {
        flex: 1 1 40%;
        min-width: 30%;
        max-width: 37%;
    }

    div.topArrowB {
        margin-top: 88px;
    }

    .nationaliteitField button, .nationaliteitFieldNew button {
        font-size: 36px;
        top: 4px;
    }
    /*----------------------------------------*/

    /* Alles wat hooort bij de Pop-up */

    #popup-container {
        min-width: 50%;
        padding: 40px 24px;
    }

    /* Pop-up Button */
    .PopUpBulletButton {
        margin-top: 30px;
    }
}

/* Laptop-versie (1024px) */
@media (min-width: 1024px) {
    /* de fomulier header */
    header {
        height: 86px;
        padding-right: 56px;
        padding-left: 56px;
    }

    a.logo img {
        height: 76px;
    }

    #sluitForm {
        height: 45px;
        width: 45px;
    }

    .close-button::before, .close-button::after {
        width: 48px;
        height: 6px;
        left: 6%;
    }
    /*----------------------------------------*/
    
    /* Alles wat hoort bij het aanmeldformulier */
    form {
        padding-bottom: 56px;
    }

    label {
        margin-top: 28px;
        margin-bottom: 8px;
    }

    fieldset {
        margin-bottom: 36px;
    }

    input[type="text"],
    input[type="date"],
    input[type="email"],
    input[type="tel"] {
        height: 56px;
    }

    div.topArrowB {
        margin-top: 104px;
    }

    .nationaliteitField button, .nationaliteitFieldNew button {
        font-size: 38px;
        top: 6px;
    }
    /*----------------------------------------*/

    /* Alles wat hooort bij de Pop-up */

    /* Pop-up Button */
    .PopUpBulletButton {
        margin-top: 34px;
    }
}

/* Grotere laptopversie (1280px) */
@media (min-width: 1280PX) {
    /* de fomulier header */
    header {
        height: 92px;
        padding-right: 120px;
        padding-left: 120px;
    }

    a.logo img {
        height: 82px;
    }

    #sluitForm {
        height: 50px;
        width: 50px;
    }

    .close-button::before, .close-button::after {
        width: 52px;
        height: 7px;
    }
    /*----------------------------------------*/
       
    /* Alles wat hoort bij het aanmeldformulier */
    div.topArrowB {
        margin-top: 120px;
    }
    /*----------------------------------------*/

    /* Alles wat hooort bij de Pop-up */

    /* Pop-up Button */
    .PopUpBulletButton {
        margin-top: 38px;
    }
}

/* Tussenversie van laptop en desktop (1600px) */
@media (min-width: 1600PX) {
    /* de fomulier header */
    header {
        height: 104px;
        padding-right: 200px;
        padding-left: 200px;
    }

    a.logo img {
        height: 92px;
    }

    #sluitForm {
        height: 55px;
        width: 55px;
    }

    .close-button::before, .close-button::after {
        width: 56px;
        left: 4%;
    }
    /*----------------------------------------*/

    /* Alles wat hoort bij het aanmeldformulier */

    div.topArrowB {
        margin-top: 136px;
    }
    /*----------------------------------------*/

    /* Alles wat hooort bij de Pop-up */

    /* Pop-up Button */
    .PopUpBulletButton {
        margin-top: 44px;
    }
}

/* Desktop versie (1920px) */
@media (min-width: 1920PX) {
    /* de fomulier header */
    header {
        height: 120px;
        padding-right: 256px;
        padding-left: 256px;
    }

    a.logo img {
        height: 105px;
    }

    #sluitForm {
        height: 60px;
        width: 60px;
    }

    .close-button::before, .close-button::after {
        width: 64px;
        height: 8px;
    }
    /*----------------------------------------*/

    /* Alles wat hoort bij het aanmeldformulier */

    div.topArrowB {
        margin-top: 144px;
    }
    /*----------------------------------------*/

    /* Alles wat hooort bij de Pop-up */

    /* Pop-up Button */
    .PopUpBulletButton {
        margin-top: 48px;
    }
}