/*------------------------------------------------------------------------------------------------------------------------
    In dit CSS-bestand vind je de basisstijl die door de hele site hetzelfde is, bijvoorbeeld de tekst en de knoppen.
-------------------------------------------------------------------------------------------------------------------------*/

:root {
    --primary: #F4974E;
    --secondary: #EDEDED;
}

/* Dit haalt de standaard gegenereerde stijl weg */
* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

html {
    min-height: 100%;
}

body { 
    background-color: #FFF;
    width: 100%;
}

/*--------------------------------------------------
    Lader van de website
---------------------------------------------------*/
#doc-loader {
    background: #08262A;
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}

#loaderInner {
    background:url(../images/load.gif);
    background-position: center center; 
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    height: 200px;
    width: 200px;
}

/*--------------------------------------------------
    Lettertype 
---------------------------------------------------*/
/* Opmaak van het lettertype */
h1, h2, h3, h4, h5, h6{
    color: #0A0A0A;
    font-family: 'Georgia', Times, serif;
    font-weight: bold;
}

h1 {
    font-size: 35px;
    line-height: 40px;
}

h2 {
    font-size: 29px;
    line-height: 33px;
}

h3 {
    font-size: 25px;
    line-height: 28px;
}

h4 {
    font-size: 21px;
    line-height: 24px;
}

h5 {
    font-size: 18px;
    line-height: 21px;
}

h6 {
    font-size: 16px;
    line-height: 19px;
}

p {
    color: #0A0A0A;
    font-family: 'Verdana', Helvetica, sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
}

h2.pageTitle, h2.pageTitleSub {
    text-align: center;
    margin-top: 45px;
}


/*--------------------------------------------------
    Buttons
---------------------------------------------------*/
/* Hier kun je de primaire knop bewerken */
button.primary {
    background-color: #FFDA47;
    background-image: linear-gradient(to right, #FFDA47 0%, var(--primary) 100%);
    color: #000;
    font-family: 'Verdana', Helvetica, sans-serif;
    font-weight: normal;
    font-size: 17px;
    text-align: center;
    padding: 4px 10px;
    margin-top: 25px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    height: 45px;
    width: 120px;
}

/* Hierdoor verandert de knop wanneer je er met de muis overheen beweegt */
button.primary:hover {
    background-color: var(--primary);
    background-image: linear-gradient(to left, var(--primary) 100%);
    box-shadow: 0px 0px 10px 1px #000;
}

/* Hier kun je de secundaire knop bewerken */
button.secondary {
    background-color: transparent;
    color: #000;
    font-family: 'Verdana', Helvetica, sans-serif;
    font-weight: normal;
    font-size: 17px;
    text-align: center;
    padding: 4px 10px;
    margin-top: 25px;
    border: 3px solid #808080;
    border-radius: 10px;
    cursor: pointer;
    height: 45px;
    width: 120px;
}

/* Hierdoor verandert de knop wanneer je er met de muis overheen beweegt */
button.secondary:hover {
    border-color: var(--primary);
    box-shadow: inset 0px 0px 10px -2px, 0px 0px 10px 2px #000;
}

/* Hier kun je een link bewerken */
a {
    color: #3DACE3;
}

/* Dit zorgt ervoor dat de link verandert wanneer je er met de muis overheen beweegt */
a:hover {
    text-decoration: underline;
    cursor: pointer;
}


/*--------------------------------------------------
    De breekpunten
---------------------------------------------------*/

/* Tussenversie van mobiel en tablet (450px) */
@media (min-width: 450px) {
    h2.pageTitle, h2.pageTitleSub {
        margin-top: 50px;
    }
}

/* Tablet-versie (768px) */
@media (min-width: 768px) {
    h1 {
        font-size: 46px;
        line-height: 52px;
    }
    
    h2 {
        font-size: 36px;
        line-height: 41px;
    }
    
    h3 {
        font-size: 30px;
        line-height: 35px;
    }
    
    h4 {
        font-size: 25px;
        line-height: 28px;
    }
    
    h5 {
        font-size: 21px;
        line-height: 24px;
    }
    
    h6 {
        font-size: 18px;
        line-height: 21px;
    }
    
    p {
        font-size: 15px;
        line-height: 23px;
    }

    h2.pageTitle, h2.pageTitleSub {
        margin-top: 55px;
    }

    button.primary, button.secondary {
        font-size: 19px;
        padding: 8px 20px;
        margin-top: 35px;
        height: 55px;
        width: 150px;
    }
}

/* Laptop-versie (1024px) */
@media (min-width: 1024px) {
    h2.pageTitle {
        margin-top: 75px;
    }

    h2.pageTitleSub {
        margin-top: 135px;
    }
}

/* Grotere laptopversie (1280px) */
@media (min-width: 1280PX) {
    h1 {
        font-size: 58px;
        line-height: 66px;
    }
    
    h2 {
        font-size: 48px;
        line-height: 55px;
    }
    
    h3 {
        font-size: 35px;
        line-height: 40px;
    }
    
    h4 {
        font-size: 28px;
        line-height: 32px;
    }
    
    h5 {
        font-size: 24px;
        line-height: 27px;
    }
    
    h6 {
        font-size: 19px;
    }
    
    p {
        font-size: 16px;
        line-height: 24px;
    }

    h2.pageTitle {
        margin-top: 85px;
    }

    h2.pageTitleSub {
        margin-top: 150px;
    }
}

/* Tussenversie van laptop en desktop (1680px) */
@media (min-width: 1680PX) {
    h1 {
        font-size: 70px;
        line-height: 79px;
    }
    
    h2 {
        font-size: 55px;
        line-height: 62px;
    }
    
    h3 {
        font-size: 40px;
        line-height: 46px;
    }
    
    h4 {
        font-size: 32px;
        line-height: 36px;
    }
    
    h5 {
        font-size: 26px;
        line-height: 30px;
    }
    
    h6 {
        font-size: 20px;
        line-height: 22px;
    }
    
    p {
        font-size: 17px;
        line-height: 26px;
    }

    h2.pageTitle {
        margin-top: 105px;
    }

    h2.pageTitleSub {
        margin-top: 175px;
    }
}

/* Desktop versie (1920px) */
@media (min-width: 1920PX) {
    h2.pageTitle {
        margin-top: 150px;
    }

    h2.pageTitleSub {
        margin-top: 220px;
    }
}