/*---------------------------------------------------------------------------------
    In dit CSS-bestand vindt je de stijl voor de Over ons - Geschiedenis pagina
----------------------------------------------------------------------------------*/

/* Hier kunt u alle stylesheets importeren */
@import 'main.css';
@import 'header.css';
@import 'subNav.css';
@import 'footer.css';

main {
    overflow: hidden;
}

p.overhandiging {
    margin-top: 20px;
}

/* De opmaak van de foto's */
figure {
    margin-left: auto;
    margin-right: auto;
}
  
.stone, .prijs {
    width: 290px;
    height: 193px;
}
  
.stone img, .prijs img {
    display: block;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
}

/*--------------------------------------------------
    Het grid systeem
---------------------------------------------------*/
/* Het grid instellen */
.history {
    display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-row-gap: 25px;
    grid-auto-rows: auto auto;
    grid-auto-columns: auto auto;
    margin-top: 30px;
}

/* Het grid toepassen */
.oprichting, .stone, .overhandiging, .prijs {
    grid-column: 1 / span 12;
    text-align: left;
}

.stone {
    grid-row: 4;
}

.prijs {
    grid-row: 2;
}


/*--------------------------------------------------
    De breekpunten
---------------------------------------------------*/

/* Tussenversie van mobiel en tablet (450px) */
@media (min-width: 450px) {
    .history {
        grid-row-gap: 35px;
        margin-top: 35px;
    }
}

/* Tablet-versie (768px) */
@media (min-width: 768px) {
    .stone, .prijs {
        width: 350px;
        height: 195px;
    }

    .history {
        grid-row-gap: 35px;
        margin-top: 45px;
    }
    
    p.overhandiging {
        margin-top: 25px;
    }
}

/* Laptop-versie (1024px) */
@media (min-width: 1024px) {
    figure {
        margin: auto 0px auto 0px;
    }

    .history {
        grid-row-gap: 55px;
        margin-top: 50px;
    }

    .oprichting {
        grid-column: 1 / span 7;
        text-align: left;
    }
    
    .stone {
        grid-row: 1;
        grid-column: 8 / span 5;
        margin-left: auto;
        width: 335px;
        height: 225px;
    }

    .overhandiging {
        grid-column: 6 / span 7;
    }

    p.overhandiging {
        margin-top: 0px;
    }
    
    .prijs {
        grid-row: 2;
        grid-column: 1 / span 5;
        width: 335px;
        height: 225px;
    }
}

/* Grotere laptopversie (1280px) */
@media (min-width: 1280PX) {
    .history {
        grid-row-gap: 75px;
        margin-top: 65px;
    }

    p.oprichting, p.overhandiging {
        margin-top: auto;
        margin-bottom: auto;
    }

    .stone, .prijs {
        width: 385px;
        height: 280px;
    }
}

/* Tussenversie van laptop en desktop (1680px) */
@media (min-width: 1680PX) {
    .history {
        grid-row-gap: 90px;
        margin-top: 85px;
    }

    .stone, .prijs {
        width: 425px;
        height: 305px;
    }
}

/* Desktop versie (1920px) */
@media (min-width: 1920PX) {
    .history {
        grid-row-gap: 115px;
        margin-top: 100px;
    }

    .stone, .prijs {
        width: 525px;
        height: 385px;
    }
}