/*---------------------------------------------------------------------------------
    In dit CSS-bestand vindt je de stijl voor de Over ons - Geschiedenis pagina
----------------------------------------------------------------------------------*/

/* Hier kunt u alle stylesheets importeren */
@import 'main.css';
@import 'header.css';
@import 'subNav.css';
@import 'footer.css';
@import 'animaties.css';

section.history {
    margin-left: auto;
    margin-right: auto;
}

/* De opmaak van de foto's */
.oprichting figure, .overhandiging figure, .generaal figure {
    position: relative;
    width: auto;
    height: 240px;
    overflow: hidden;
    margin-top: 24px;
}
  
.prijzenSGJ img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    object-position: center center;
}

.sabel img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    object-position: right;
}

.fotoP img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    object-position: top;
}


/*--------------------------------------------------
    Het grid systeem
---------------------------------------------------*/
/* Het grid instellen */
.oprichting, .overhandiging, .generaal {
    position: relative;
    display: grid;
    grid-auto-rows: auto auto;
}

/* Het grid toepassen */
.oprichting p, .prijzenSGJ, .overhandiging p, .sabel, .overP, .fotoP, .uitsprakenP {
    text-align: left;
}

.prijzenSGJ {
    grid-row: 2;
}

.oprichting p {
    grid-row: 1;
}

.sabel {
    grid-row: 2;
}

.overhandiging p {
    grid-row: 1;
}

.overP {
    grid-row: 1;
}

.fotoP {
    grid-row: 2;
}

.uitsprakenP {
    grid-row: 3;
}


/*--------------------------------------------------
    De breekpunten
---------------------------------------------------*/

/* Tussenversie van mobiel en tablet (480px) */
@media (min-width: 480px) {
    .oprichting figure, .overhandiging figure, .generaal figure {
        height: 264px;
    }
}

@media (min-width: 600px) {
    .prijzenSGJ img {
        object-position: top;
    }
}

/* Tablet-versie (768px) */
@media (min-width: 768px) {
    .oprichting figure, .overhandiging figure, .generaal figure {
        height: 300px;
        width: 40%;
        margin-top: auto;
    }

    .oprichting, .overhandiging, .generaal {
        display: block;
    }

    .prijzenSGJ, .fotoP {
        float: left;
        margin-bottom: 24px;
        margin-right: 24px;
    }

    .sabel {
        float: right;
        margin-bottom: 24px;
        margin-left: 24px;
    }

    .prijzenSGJ img {
        object-position: center center;
    }

    .sabel img {
        object-position: center center;
    }
}

/* Laptop-versie (1024px) */
@media (min-width: 1024px) {
    .oprichting figure, .overhandiging figure, .generaal figure {
        height: 332px;
    }

    .prijzenSGJ, .fotoP {
        margin-right: 40px;
    }

    .sabel {
        margin-left: 40px;
    }

    .uitsprakenP {
        max-width: 80%;
    }
}

/* Grotere laptopversie (1280px) */
@media (min-width: 1280PX) {
    .oprichting figure, .overhandiging figure, .generaal figure {
        height: 364px;
    }

    .sabel img {
        object-position: center center;
    }

    .uitsprakenP {
        max-width: 70%;
    }
}

@media (min-width: 1490px) {
    .oprichting figure, .overhandiging figure, .generaal figure {
        width: auto;
        margin-top: auto;
        margin-bottom: auto;
    }

    .prijzenSGJ, .sabel, .fotoP {
        margin: 0;
    }

    .oprichting, .overhandiging, .generaal {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        column-gap: 48px;
        grid-auto-columns: auto auto;
        grid-auto-rows: auto auto;
        align-items: center;
    }
    
    .prijzenSGJ {
        grid-row: 1;
        grid-column: 1 / span 5;
    }
    
    .oprichting p {
        grid-row: 1;
        grid-column: 6 / span 7;
    }
    
    .sabel {
        grid-row: 1;
        grid-column: 8 / span 5;
    }
    
    .overhandiging p {
        grid-row: 1;
        grid-column: 1 / span 7;
    }
    
    .overP {
        grid-row: 1;
        grid-column: 6 / span 7;
    }
    
    .fotoP {
        grid-row: 1;
        grid-column: 1 / span 5;
    }
    
    .uitsprakenP {
        grid-row: 2;
        grid-column: 1 / span 12;
    }

    .sabel img {
        object-position: right;
    }
}

/* Tussenversie van laptop en desktop (1600px) */
@media (min-width: 1600PX) {
    section.history {
        max-width: 1280px;
    }

    .oprichting, .overhandiging, .generaal {
        column-gap: 56px;
    }
}

/* Desktop versie (1920px) */
@media (min-width: 1920PX) {
    section.history {
        max-width: 1408px;
    }

    .oprichting figure, .overhandiging figure, .generaal figure {
        height: 448px;
    }

    .oprichting, .overhandiging, .generaal {
        column-gap: 64px;
    }

    .prijzenSGJ {
        grid-column: 1 / span 6;
    }
    
    .oprichting p {
        grid-column: 7 / span 6;
    }
    
    .sabel {
        grid-column: 7 / span 6;
    }
    
    .overhandiging p {
        grid-column: 1 / span 6;
    }
    
    .overP {
        grid-column: 7 / span 6;
    }
    
    .fotoP {
        grid-column: 1 / span 6;
    }

    .uitsprakenP {
        max-width: 60%;
    }
}