/*---------------------------------------------------------------------------------
    In dit CSS-bestand vindt je de stijl voor de Over ons - Geschiedenis pagina
----------------------------------------------------------------------------------*/

/* Hier kunt u alle stylesheets importeren */
@import 'main.css';
@import 'header.css';
@import 'footer.css';

/* De navigatiebalk die pas vanaf een grote tablet of kleine laptop moet verschijnen */
nav.subMenu {
    visibility: hidden;
}

main {
    padding-left: 15px;
    padding-right: 15px;
}

h2.pageTitle {
    margin-top: 45px;
}

p.overhandiging {
    margin-top: 20px;
}

/* De opmaak van de foto's */
figure {
    margin-left: auto;
    margin-right: auto;
}
  
.stone, .prijs {
    width: 290px;
    height: 193px;
}
  
.stone img, .prijs img {
    display: block;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
}

/*--------------------------------------------------
    Het grid systeem
---------------------------------------------------*/
/* Het grid instellen */
.history {
    display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-row-gap: 25px;
    grid-auto-rows: auto auto;
    grid-auto-columns: auto auto;
    margin-top: 30px;
}

/* Het grid toepassen */
.oprichting, .stone, .overhandiging, .prijs {
    grid-column: 1 / span 12;
    text-align: left;
}

.stone {
    grid-row: 4;
}

.prijs {
    grid-row: 2;
}


/*--------------------------------------------------
    De breekpunten
---------------------------------------------------*/

/* Tussenversie van mobiel en tablet (450px) */
@media (min-width: 450px) {

}

/* Tablet-versie (768px) */
@media (min-width: 768px) {
    main {
        padding-left: 35px;
        padding-right: 35px;
    }

    .stone, .prijs {
        width: 350px;
        height: 195px;
    }

    .history {
        grid-row-gap: 35px;
        margin-top: 45px;
    }

    h2.pageTitle {
        margin-top: 55px;
    }
    
    p.overhandiging {
        margin-top: 25px;
    }
}

/* Laptop-versie (1024px) */
@media (min-width: 1024px) {
    nav.subMenu {
        visibility: visible;
        background-color: #1C5876;
        position: fixed;
        z-index: 100;
        width: 100%;
        height: 60px;
        display: table;
        text-align: left;
        left: 0;
    }

    .subMenu ul {
        justify-content: space-between;
        display: table-cell;
        vertical-align: middle;
    }

    .subMenu li {
        display: inline-block;
        margin-right: 35px;
    }

    ul.subNav-active {
        padding-left: 50px;
    }

    a.subNav-item {
        font-size: 20px;
        line-height: 23px;
        color: #FFF;
    }

    main {
        padding-left: 50px;
        padding-right: 50px;
    }

    h2.pageTitle {
        margin-top: 135px;
    }

    figure {
        margin: auto 0px auto 0px;
    }

    .history {
        grid-row-gap: 55px;
        margin-top: 65px;
    }

    .oprichting {
        grid-column: 1 / span 7;
        text-align: left;
    }
    
    .stone {
        grid-row: 1;
        grid-column: 8 / span 5;
        margin-left: auto;
        width: 335px;
        height: 225px;
    }

    .overhandiging {
        grid-column: 6 / span 7;
    }

    p.overhandiging {
        margin-top: 0px;
    }
    
    .prijs {
        grid-row: 2;
        grid-column: 1 / span 5;
        width: 335px;
        height: 225px;
    }
}

/* Grotere laptopversie (1280px) */
@media (min-width: 1280PX) {
    nav.subMenu {
        height: 65px;
    }

    ul.subNav-active {
        padding-left: 100px;
    }

    main {
        padding-left: 100px;
        padding-right: 100px;
    }

    h2.pageTitle {
        margin-top: 150px;
    }

    .history {
        grid-row-gap: 75px;
    }

    p.oprichting, p.overhandiging {
        margin-top: auto;
        margin-bottom: auto;
    }

    .stone, .prijs {
        width: 385px;
        height: 280px;
    }
}

/* Tussenversie van laptop en desktop (1680px) */
@media (min-width: 1680PX) {
    nav.subMenu {
        height: 70px;
    }

    ul.subNav-active {
        padding-left: 200px;
    }

    main {
        padding-left: 200px;
        padding-right: 200px;
    }

    h2.pageTitle {
        margin-top: 175px;
    }

    .history {
        grid-row-gap: 90px;
        margin-top: 75px;
    }

    .stone, .prijs {
        width: 425px;
        height: 305px;
    }
}

/* Desktop versie (1920px) */
@media (min-width: 1920PX) {
    ul.subNav-active {
        padding-left: 250px;
    }

    main {
        padding-left: 250px;
        padding-right: 250px;
    }

    h2.pageTitle {
        margin-top: 225px;
    }

    .history {
        grid-row-gap: 115px;
        margin-top: 100px;
    }

    .stone, .prijs {
        width: 525px;
        height: 385px;
    }
}