/*---------------------------------------------------------------------------------------
    In dit CSS-bestand vindt je de stijl voor het submenu die voor elke pagina nodig is
----------------------------------------------------------------------------------------*/

/* De navigatiebalk die pas vanaf een grote tablet of kleine laptop moet verschijnen */
nav.subMenu {
    visibility: hidden;
}


/*--------------------------------------------------
    De breekpunten
---------------------------------------------------*/

/* Laptop-versie (1024px) */
@media (min-width: 1024px) {
    nav.subMenu {
        visibility: visible;
        background-color: #4E5C5B;
        position: absolute;
        top: 86px;
        z-index: 100;
        width: 100%;
        height: 60px;
        display: table;
        text-align: left;
        left: 0;
    }

    .headerChildSub {
        padding-left: 56px;
        padding-right: 56px;
        height: 100%;
        width: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: flex-start;
    }

    .subMenu li {
        display: inline-block;
        margin-right: 36px;
    }

    a.subNav-item {
        font-size: 20px;
        line-height: 23px;
        color: #FFF;
    }
}

/* Grotere laptopversie (1280px) */
@media (min-width: 1280PX) {
    nav.subMenu {
        top: 92px;
        height: 66px;
    }

    .headerChildSub {
        padding-left: 120px;
        padding-right: 120px;
    }

    .subMenu li {
        margin-right: 38px;
    }
}

/* Tussenversie van laptop en desktop (1600px) */
@media (min-width: 1600PX) {
    nav.subMenu {
        height: 72px;
        top: 104px;
    }

    .headerChildSub {
        margin-left: auto;
        margin-right: auto;
        max-width: 1280px
    }

    .subMenu li {
        margin-right: 40px;
    }
}

/* Desktop versie (1920px) */
@media (min-width: 1920PX) {
    nav.subMenu {
        top: 120px;
    }

    .headerChildSub {
        max-width: 1408px;
    }
}