/*---------------------------------------------------------------------
    In dit CSS-bestand vindt je de stijl voor de voor leden pagina
----------------------------------------------------------------------*/

/* Hier kunt u alle stylesheets importeren */
@import 'main.css';
@import 'header.css';
@import 'footer.css';
@import 'animaties.css';


/*--------------------------------------------------
    De pagina titel + sub titel
---------------------------------------------------*/
.page__content#leden {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.construction {
    margin: 0 auto;
    line-height: 1.5;
}


/*--------------------------------------------------
    Voor het tekst stukje dat Crashed
---------------------------------------------------*/
.crash {
    display: inline-block;
    -webkit-transform-origin: 100%;
        -ms-transform-origin: 100%;
            transform-origin: 100%;
    -webkit-animation: crash .7s cubic-bezier(.52,.91,.68,-0.76) 1s forwards;
            animation: crash .7s cubic-bezier(.52,.91,.68,-0.76) 1s forwards;
    display: inline-block;
    z-index: 1;
    position: relative;
}

@-webkit-keyframes crash {

    from {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(-20deg);
                transform: rotate(-20deg);
        -webkit-transform: rotate(-20deg);
                transform: rotate(-20deg);
    }
}

@keyframes crash {
    from {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(-20deg);
                transform: rotate(-20deg);
        -webkit-transform: rotate(-20deg);
                transform: rotate(-20deg);
    }
}


/*--------------------------------------------------
    Voor de tekst die Glitched
---------------------------------------------------*/
.glitch {
    position: relative;
    margin: 0 auto;
    max-width: 400px;

}

@-webkit-keyframes noise-anim {

    0% {
        clip: rect(97px, 9999px, 47px, 0);
    }

    5% {
        clip: rect(14px, 9999px, 22px, 0);
    }

    10% {
        clip: rect(31px, 9999px, 56px, 0);
    }

    15.0% {
        clip: rect(19px, 9999px, 20px, 0);
    }

    20% {
        clip: rect(8px, 9999px, 79px, 0);
    }

    25% {
        clip: rect(61px, 9999px, 37px, 0);
    }

    30.0% {
        clip: rect(82px, 9999px, 1px, 0);
    }

    35% {
        clip: rect(95px, 9999px, 59px, 0);
    }

    40% {
        clip: rect(11px, 9999px, 100px, 0);
    }

    45% {
        clip: rect(16px, 9999px, 29px, 0);
    }

    50% {
        clip: rect(51px, 9999px, 77px, 0);
    }

    55.0% {
        clip: rect(33px, 9999px, 1px, 0);
    }

    60.0% {
        clip: rect(65px, 9999px, 70px, 0);
    }

    65% {
        clip: rect(49px, 9999px, 60px, 0);
    }

    70% {
        clip: rect(12px, 9999px, 12px, 0);
    }

    75% {
        clip: rect(31px, 9999px, 8px, 0);
    }

    80% {
        clip: rect(12px, 9999px, 11px, 0);
    }

    85.0% {
        clip: rect(57px, 9999px, 67px, 0);
    }

    90% {
        clip: rect(100px, 9999px, 60px, 0);
    }

    95% {
        clip: rect(52px, 9999px, 96px, 0);
      }

    100% {
        clip: rect(74px, 9999px, 92px, 0);
    }
}

@keyframes noise-anim {
    0% {
      clip: rect(97px, 9999px, 47px, 0);
    }
    5% {
      clip: rect(14px, 9999px, 22px, 0);
    }
    10% {
      clip: rect(31px, 9999px, 56px, 0);
    }
    15.0% {
      clip: rect(19px, 9999px, 20px, 0);
    }
    20% {
      clip: rect(8px, 9999px, 79px, 0);
    }
    25% {
      clip: rect(61px, 9999px, 37px, 0);
    }
    30.0% {
      clip: rect(82px, 9999px, 1px, 0);
    }
    35% {
      clip: rect(95px, 9999px, 59px, 0);
    }
    40% {
      clip: rect(11px, 9999px, 100px, 0);
    }
    45% {
      clip: rect(16px, 9999px, 29px, 0);
    }
    50% {
      clip: rect(51px, 9999px, 77px, 0);
    }
    55.0% {
      clip: rect(33px, 9999px, 1px, 0);
    }
    60.0% {
      clip: rect(65px, 9999px, 70px, 0);
    }
    65% {
      clip: rect(49px, 9999px, 60px, 0);
    }
    70% {
      clip: rect(12px, 9999px, 12px, 0);
    }
    75% {
      clip: rect(31px, 9999px, 8px, 0);
    }
    80% {
      clip: rect(12px, 9999px, 11px, 0);
    }
    85.0% {
      clip: rect(57px, 9999px, 67px, 0);
    }
    90% {
      clip: rect(100px, 9999px, 60px, 0);
    }
    95% {
      clip: rect(52px, 9999px, 96px, 0);
    }
    100% {
      clip: rect(74px, 9999px, 92px, 0);
    }
}

.glitch:after {
    content: attr(data-text);
    position: absolute;
    left: 2px;
    text-shadow: -1px 0 red;
    top: 0;
    color: var(--gunmetal);
    background: #FFF;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    -webkit-animation: noise-anim 10s infinite linear alternate-reverse;
            animation: noise-anim 10s infinite linear alternate-reverse;
}

@-webkit-keyframes noise-anim-2 {
    0% {
        clip: rect(86px, 9999px, 58px, 0);
    }

    5% {
        clip: rect(26px, 9999px, 64px, 0);
    }

    10% {
        clip: rect(93px, 9999px, 64px, 0);
    }

    15.0% {
        clip: rect(42px, 9999px, 39px, 0);
    }

    20% {
        clip: rect(2px, 9999px, 96px, 0);
    }

    25% {
        clip: rect(23px, 9999px, 90px, 0);
    }

    30.0% {
        clip: rect(98px, 9999px, 8px, 0);
    }

    35% {
        clip: rect(28px, 9999px, 4px, 0);
    }

    40% {
        clip: rect(12px, 9999px, 44px, 0);
    }

    45% {
        clip: rect(39px, 9999px, 86px, 0);
    }

    50% {
        clip: rect(94px, 9999px, 70px, 0);
    }

    55.0% {
        clip: rect(53px, 9999px, 75px, 0);
    }

    60.0% {
        clip: rect(78px, 9999px, 40px, 0);
    }

    65% {
        clip: rect(73px, 9999px, 4px, 0);
    }

    70% {
        clip: rect(24px, 9999px, 51px, 0);
    }

    75% {
        clip: rect(42px, 9999px, 19px, 0);
    }

    80% {
        clip: rect(11px, 9999px, 13px, 0);
    }

    85.0% {
        clip: rect(25px, 9999px, 76px, 0);
    }

    90% {
        clip: rect(64px, 9999px, 16px, 0);
    }

    95% {
        clip: rect(16px, 9999px, 32px, 0);
    }

    100% {
        clip: rect(46px, 9999px, 46px, 0);
    }
}

@keyframes noise-anim-2 {
    0% {
      clip: rect(86px, 9999px, 58px, 0);
    }
    5% {
      clip: rect(26px, 9999px, 64px, 0);
    }
    10% {
      clip: rect(93px, 9999px, 64px, 0);
    }
    15.0% {
      clip: rect(42px, 9999px, 39px, 0);
    }
    20% {
      clip: rect(2px, 9999px, 96px, 0);
    }
    25% {
      clip: rect(23px, 9999px, 90px, 0);
    }
    30.0% {
      clip: rect(98px, 9999px, 8px, 0);
    }
    35% {
      clip: rect(28px, 9999px, 4px, 0);
    }
    40% {
      clip: rect(12px, 9999px, 44px, 0);
    }
    45% {
      clip: rect(39px, 9999px, 86px, 0);
    }
    50% {
      clip: rect(94px, 9999px, 70px, 0);
    }
    55.0% {
      clip: rect(53px, 9999px, 75px, 0);
    }
    60.0% {
      clip: rect(78px, 9999px, 40px, 0);
    }
    65% {
      clip: rect(73px, 9999px, 4px, 0);
    }
    70% {
      clip: rect(24px, 9999px, 51px, 0);
    }
    75% {
      clip: rect(42px, 9999px, 19px, 0);
    }
    80% {
      clip: rect(11px, 9999px, 13px, 0);
    }
    85.0% {
      clip: rect(25px, 9999px, 76px, 0);
    }
    90% {
      clip: rect(64px, 9999px, 16px, 0);
    }
    95% {
      clip: rect(16px, 9999px, 32px, 0);
    }
    100% {
      clip: rect(46px, 9999px, 46px, 0);
    }
}

.glitch:before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: 1px 0 blue;
    top: 0;
    color: var(--gunmetal);
    background: #FFF;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    -webkit-animation: noise-anim-2 10s infinite linear alternate-reverse;
            animation: noise-anim-2 10s infinite linear alternate-reverse;
}


/*--------------------------------------------------
    Het constructie bericht + visual
---------------------------------------------------*/
.conVisual {
    overflow: hidden;
}

.under-construction {
    width: 300px;
    height: 300px;
    margin: 20px auto 0;
}


/*--------------------------------------------------
    De breekpunten
---------------------------------------------------*/
@media (min-width: 435px) {
    .glitch {
        width: 405px;
        max-width: none;
    }
}

/* Tussenversie van mobiel en tablet (480px) */
@media (min-width: 480px) {
    .glitch {
        width: 430px;
    }
}

/* Tablet-versie (768px) */
@media (min-width: 768px) {
    .glitch {
        width: 480px;
    }

    .conBericht {
        max-width: 660px;
        margin-left: auto;
        margin-right: auto;
    }

    .under-construction {
        width: 500px;
        height: 500px;
    }
}

/* Laptop-versie (1024px) */
@media (min-width: 1024px) {
    .glitch {
        width: 555px;
    }
}

/* Grotere laptopversie (1280px) */
@media (min-width: 1280PX) {
    .glitch {
        width: 631px;
    }

    .constructie {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-auto-rows: auto auto;
        grid-auto-columns: auto auto;
        column-gap: 32px;
        margin-left: auto;
        margin-right: auto;
    }

    .conBericht {
        margin-top: 25%;
        grid-column: 1 / span 6;
    }
    
    .conVisual {
        grid-column: 7 / span 6;
        overflow: visible;
    }

    .under-construction {
        margin: 0 auto;
    }
}

@media (min-width: 1500px) and (min-height: 900px) {
    .under-construction {
      width: fit-content;
      height: auto;
    }
}

/* Tussenversie van laptop en desktop (1600px) */
@media (min-width: 1600PX) {
    .glitch {
        width: 731px;
    }
}

/* Desktop versie (1920px) */
@media (min-width: 1920PX) {
    .constructie {
        max-width: 1408px;
    }
}